{{> nav}}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">

                <!-- ============================================-->
                <!-- Start of 1 header slide ===========================-->
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/repository_development.png);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Repository Development</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> Let us help <br
                                            class="d-block d-md-none"> you </p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="../assets/pdf/tiersch_cryopreservationBook1.pdf" target="_blank">Explore
                                        your options</a></div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- ============================================-->
                <!-- End of 1 header slide ===========================-->
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/focus-photo-of-open-book-954198_CROP.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Publications</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> Cryopreservation in <br
                                            class="d-block d-md-none"> Aquatic Species 2nd edition</p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="#publications">View Publications</a></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/person-soldering-chip-2628105.jpg);background-position: center 70%;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Open-source designs</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> we like to <br
                                            class="d-block d-md-none"> share</p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="">See our Git Repository</a></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/student_header.jpg);background-position: center 70%;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Outstanding Students</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> Living to <br
                                            class="d-block d-md-none">Learn </p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="#students">Meet the future</a></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/events_header.jpg);background-position: center 70%;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Current Events</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> Keeping up with the <br
                                            class="d-block d-md-none">Joneses </p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="#currentEvents">See whats happening</a></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/book_banner.jpg);background-position: center 70%;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Cryopreservation<br> In Aquatic Species
                                    </h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'>Second Edition<br
                                            class="d-block d-md-none"></p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="https://www.researchgate.net/publication/313216692_Cryopreservation_in_Aquatic_Species" target="_blank">Request Text from Publisher</a></div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center pb-0" style="padding-top:0 !important;">

        <div class="container-fluid">
            <!--<div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col-12 mb-4">
                <div class="overflow-hidden">
                  <h2 class="fs-md-5 mb-2" data-zanim-xs='{"duration":"1.5","delay":0}'>recent projects</h2>
                </div>
                <div class="overflow-hidden">
                  <p class="fs&#45;&#45;1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'>successful projects, happy clients, great results</p>
                </div>
                <div class="overflow-hidden">
                  <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
                </div>
              </div>
            </div>-->
            <div class="sortable" data-options='{"layoutMode":packery"}'>
                <div class="overflow-hidden">
                    <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":"1.5","delay":0}'>OPEN-SOURCE DEVELOPMENT<br>OF
                        GERMPLASM REPOSITORIES<br></h2>

                    <div class="" align="center">
                        <p class="mb-0 col-6" align="left"><br>The mission of the AGGRC is to provide global leadership
                            for development of germplasm repositories
                            and commercialization of genetic resources for aquatic species through interdisciplinary
                            collaboration. Rather than positioning the AGGRC as a
                            central global repository, our approach is instead to develop technologies and practices and
                            provide services necessary to empower the multiple
                            and diverse communities within aquatic species to establish their own germplasm
                            repositories. Currently most work directly addresses the pervasive
                            lack of standardization and reproducibility that characterizes cryopreservation within
                            aquatic species. These problems have slowed research through
                            inefficiency and failure. Overall, although cryopreservation is possible at a research
                            scale, it is not being utilized to near full potential for
                            development of repositories or repository networks. The Center is directed by Dr. Terrence
                            Tiersch who has 25+ years of experience working with numerous
                            colleagues across hundreds of aquatic species and user communities addressing aquaculture,
                            wild fisheries, conservation, and biomedical models. Based
                            on this experience concerning the problems and opportunities for aquatic species, the AGGRC
                            is organized across four core program areas that span user
                            needs from research through industrial-scale application.</p>
                    </div>
                </div>
                <br>
                <div class="overflow-hidden">
                    <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}'/>
                </div>

                <!-- ==================================== -->
                <!-- Sorting Subjects for Masonry======== -->

                <div class="menu mb-3 justify-content-center">
                    <div class="item active" data-filter="*">all</div>
                    <div class="item" data-filter=".technology">technology</div>
                    <div class="item" data-filter=".research">research</div>
                    <div class="item" data-filter=".publications">publications</div>
                    <div class="item" data-filter=".communities">communities</div>
                    <div class="item" data-filter=".commercial">commercial</div>
                    <div class="item" data-filter=".about">about</div>

                </div>

                <!-- /Sorting Subjects for Masonry======= -->
                <!-- ==================================== -->


                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                    <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                         data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <!--<div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                               <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                               </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/work-single.html">
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Technology</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>-->


                        <!-- <div class="col-6 col-md-5 sortable-item p-2 medium"
                              data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                             <div class="hoverdir-item position-relative rounded overflow-hidden"
                                  data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                 <a class="d-block" href="../pages/work-single.html">
                                     <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""
                                          data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                     <div class="hoverdir-item-content">
                                         <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                             <div class="text-700">
                                                 <h3 class="text-white lh-1 fs-2">Technology</h3>
                                                 <p class="lead">md-5
                                                 </p>
                                             </div>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                         </div>-->

                        <!-- ============================================-->
                        <!-- Active Cards <section> begin ===============-->

                        <div class="col-6 col-md-3 sortable-item p-2 communities small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#currentEvents">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/currentevents_1x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Current Events</h3>
                                                <p class="lead">About
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#fabrication">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/3dprinting_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#alphaTesting">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/testing_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Alpha-Testing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#technology">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/technology_3x4.5.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Technology</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 commercial small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/pastProjects_2x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Past Projects</h3>
                                                <p class="lead">Commercial
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 research medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/research.html">
                                    <img class="rounded img-fluid w-100" src="../assets/img/masonary/technology_2x1.jpg"
                                         alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Research</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 publications small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="publications.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/publications_3x4.5.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Publications</h3>
                                                <p class="lead">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 commercial small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/commercial.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/commercial_3x4.5.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Commercial</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 about medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="roots.html">
                                    <img class="rounded img-fluid w-100" src="../assets/img/masonary/about_2x1.jpg"
                                         alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Historical Roots of the AGGRC</h3>
                                                <p class="lead">About
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 communities medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/communities.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/communities_2x1.jpg" alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Commmunities</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 research small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/repositoryProjects_1x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Repository Projects</h3>
                                                <p class="lead">Research
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#betaTesting">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/testing_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Beta-Testing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#tutorials">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/tutorials_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Tutorials</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#microfabrication">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/microfab_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Microfabrication</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#electrocryobiology">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/electrocryo_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Electrocryobiology</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- Active Cards <section> end =================-->
                        <!-- ============================================-->


                        <!-- ============================================-->
                        <!-- Sample <section> begin =====================-->
                        <!--


                        Sample Square Masonry
                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="3d-printing.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        Sample Half-Square Masonry
                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="3d-printing.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        -->
                        <!-- Sample <section> end =======================-->
                        <!-- ============================================-->


                    </div>
                </div>


                <!-- this is the original -->
                <!-- <div class="row sortable-container sortable-container-gutter-fix hoverdir-grid" data-zanim-timeline="{}"
                      data-zanim-trigger="scroll">
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                             <a class="d-block" href="../pages/work-single.html">
                                 <img class="img-fluid rounded" src="../assets/img/masonary/01.jpg" alt=""/>
                                 <div class="hoverdir-item-content">
                                     <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                         <div class="text-700">
                                             <h3 class="text-white lh-1 fs-2">Website Design</h3>
                                             <p class="ls-0 mb-0">Multipurpose HTML template <br> with bootstrap 4</p>
                                         </div>
                                     </div>
                                 </div>
                             </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/02.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">UI/UX Design</h3>
                                         <p class="ls-0 mb-0">Most user friendly user <br> interface design</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item mobile mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/03.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Mobile Accessories</h3>
                                         <p class="ls-0 mb-0">Popular mobile accessories <br> in 2019</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item test mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.3}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/04.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Interior Photography</h3>
                                         <p class="ls-0 mb-0">More than 50K happy <br> real state clients</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item mobile mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.4}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/05.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">App Development</h3>
                                         <p class="ls-0 mb-0">Most secured and optimized <br> mobile app development</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item marketing mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.5}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/06.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Content Writing</h3>
                                         <p class="ls-0 mb-0"> More than 50K blog posts <br> on different subjects</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.6}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/07.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Packaging Designing</h3>
                                         <p class="ls-0 mb-0">Beautiful packaging design done <br> by our designers</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item photography mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.7}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/08.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Model Photography</h3>
                                         <p class="ls-0 mb-0">Exclusive model photography by <br> award winning
                                             photographers</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.8}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/09.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Digital Marketing</h3>
                                         <p class="ls-0 mb-0">We spread your digital products <br> all over the world</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                 </div>-->
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
<!--
    <section class="bg-1100 py-6 px-3 px-lg-0">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr-lg-4 mb-4 mb-lg-0">
                    <h5 class="text-white mb-3">Our Mission</h5>
                    <p class="text-700">Our mission is to provide global leadership
                        for development of germplasm repositories and commercialization of genetic resources for aquatic
                        species through open-source interdisciplinary collaboration.</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white pr-2" href="#!"><span
                                class="fab fa-facebook-f"></span></a></li>
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span
                                class="fab fa-twitter"></span></a></li>
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span
                                class="fab fa-linkedin-in"></span></a></li>
                        <li class="list-inline-item mr-0"><a class="text-900 hover-color-white px-2" href="#!"><span
                                class="fab fa-google-plus-g"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3 pl-lg-4 mb-4 mb-lg-0">
                            <h5 class="text-white mb-3">Company</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1"><a class="text-700 hover-color-white"
                                                    href="../pages/about.html">About</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/contact.html">Contact</a>
                                </li>
                                <li class="mb-1"><a class="text-700 hover-color-white"
                                                    href="../pages/blog.html">Blog</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/gallery.html">Gallery</a>
                                </li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Privacy</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3 pl-4 mb-4 mb-lg-0">
                            <h5 class="text-white mb-3">Product</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1"><a class="text-700 hover-color-white"
                                                    href="../pages/work.html">Work</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/services.html">Services</a>
                                </li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="../pages/pricing.html">Pricing</a>
                                </li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Features</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Docs</a></li>
                                <li class="mb-1"><a class="text-700 hover-color-white" href="#!">Agencies</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 pl-md-4">
                            <h5 class="text-white mb-3">FROM THE BLOG</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-3"><a class="text-700 hover-color-white" href="../pages/single-post.html">
                                    Testing Working Robots at the Canadian Agency.</a>
                                    <p class="text-900 hover-color-white mb-0">Jan 15, 2019</p>
                                </li>
                                <li class="mb-3"><a class="text-700 hover-color-white" href="../pages/single-post.html">How
                                    to start your new business with limited budget?</a>
                                    <p class="text-900 hover-color-white mb-0">Jan 15, 2019</p>
                                </li>
                                <li class="mb-3"><a class="text-700 hover-color-white" href="../pages/single-post.html">Do
                                    we need more Javascript Framework?</a>
                                    <p class="text-900 hover-color-white mb-0">Jan 15, 2019</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; end of .container&ndash;&gt;

    </section>
-->
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


{{>footer}}
