{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'><br>Beta Testing</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);background-position: center 70%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Additive Manufacturing</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br class="d-block d-md-none"> fullest</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container col-md-6">

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What is Beta Testing?</h2>
                    </div>
                </div>
            </div>


            <div class="align-items-center">

                <div class="mb-8" >

                    <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    </p>

                </div>

            </div>

        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <div class="align-content-center" align="center">
        <div class="col-md-11">
            <ul class="gridder clearfix" data-options='{"animationSpeed":600}'>
                <li class="gridder-list" data-griddercontent="#content1" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <img class="img-fluid rounded" src="../assets/img/technology/positionalCoolingPlatformDevices.jpg" alt="" data-zanim-xs='{"duration":1,"animation":"zoom-in","delay":0}' />
                </li>
                <li class="gridder-list" data-griddercontent="#content2" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <img class="img-fluid rounded" src="../assets/img/technology/greyGridder.jpg" alt="" data-zanim-xs='{"duration":1,"animation":"zoom-in","delay":0.1}' />
                </li>
                <li class="gridder-list" data-griddercontent="#content3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <img class="img-fluid rounded" src="../assets/img/technology/greyGridder.jpg" alt="" data-zanim-xs='{"duration":1,"animation":"zoom-in","delay":0.2}' />
                </li>
                <li class="gridder-list" data-griddercontent="#content4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <img class="img-fluid rounded" src="../assets/img/technology/greyGridder.jpg" alt="" data-zanim-xs='{"duration":1,"animation":"zoom-in","delay":0.3}' />
                </li>
            </ul>
        </div>
    </div>

    <div class="gridder-content" id="content1">
        <div class="row align-items-center">
            <ul class="nav nav-pills" id="pill-myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pill-home-tab" data-toggle="tab" href="#pill-tab-home" role="tab" aria-controls="tab-home" aria-selected="true">Alpha Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pill-profile-tab" data-toggle="tab" href="#pill-tab-profile" role="tab" aria-controls="tab-profile" aria-selected="false">Beta Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pill-contact-tab" data-toggle="tab" href="#pill-tab-contact" role="tab" aria-controls="tab-contact" aria-selected="false">Product</a>
                </li>
            </ul>
            <div class="tab-content border p-3 mt-3" id="pill-myTabContent">

                <div class="tab-pane fade show active" id="pill-tab-home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">
                        <div class="col-5">
                            <img class="img-fluid rounded" src="../assets/img/technology/positionalCoolingPlatformDevices.jpg" alt="" />
                            <img class="img-fluid rounded" src="../assets/img/technology/cajun_ejector_content2.jpg" alt="" />
                        </div>
                        <div class="col-7">
                            <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Positional Cooling Platform Devices</h3>
                            <br>
                            <div align="left">
                                <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related Publications
                                </button>
                                <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Download From Github
                                </button>
                            </div>
                            <p class="mb-0" align="left"> <br><br>Cryopreservation has become an important and accepted tool for long-term
                                germplasm conservation of animals and plants. To protect genetic resources, repositories have been
                                developed with national and international cooperation. For a repository to be effective, the genetic
                                material submitted must be of good quality and comparable to other submissions. However, due to a
                                variety of reasons, including constraints in knowledge and available resources, cryopreservation
                                methods for aquatic species vary widely across user groups which reduces reproducibility and
                                weakens quality control. We have developed a standardizable freezing device produced using
                                3-dimensional (3-D) printing and introduce the concept of network sharing to achieve aggregate
                                high-throughput cryopreservation for aquatic species. Through this approach, identical components
                                can be accessed globally, and we demonstrated that 3-D printers can be used to fabricate parts for
                                standardizable freezing devices yielding relevant and reproducible cooling rates across users. With
                                standardized devices for freezing, methods and samples can harmonize into an aggregated
                                high-throughput pathway not currently available for aquatic species repository development.
                                <br><br>
                                In general, as most plastics are cooled towards cryogenic temperatures, they become harder,
                                stiffer, and more brittle to mechanical loads, as evidenced by shattering of plastics following
                                cooling with liquid nitrogen (LN2). Except for a few polymers specifically formulated for cryogenic
                                applications, plastics exhibit a decrease in tensile elongation (degree of stretch prior to breaking)
                                as temperature decreases. Also as plastics are cooled there is an increase in the elastic modulus
                                (ratio of elongation per applied stress, often described as stiffness). Depending on formulation,
                                plastics will undergo a ductile-to-brittle transition at some point below 0°C, and will fail by
                                snapping rather than deforming. In our experience, objects 3-D printed with PLA can undergo
                                considerable elongation prior to breaking, with spring-like designs remaining flexible at LN2
                                temperatures. Even when cooled, these objects display elastic behavior rather than undergoing
                                irreversible plastic deformation, making them useful in low-temperature environments. These traits
                                enable printing of multi-component devices with flat platforms to hold samples that can be assembled
                                in multiple configurations to provide a range of cooling rates. We refer to this category of
                                apparatus as a Positional Platform Cooling Device (PCPD).
                                <br><br>
                                Two prototypes of PCPD devices have been developed and tested, naming the CryoKit and Cajun Ejector.
                                The CryoKit (Fig. 1) was developed to freeze samples in French straws or vials with LN2 in a
                                standardized polystyrene cooler. Preliminary temperature measurements from thermocouples placed
                                in straws indicate that reproducible cooling rates can be achieved in the range of 4-40°C/min by
                                adjusting the configuration and height above the LN2. We are actively optimizing the current
                                prototype.
                            </p>
                        </div>
                    </div>


                </div>

                <div class="tab-pane fade" id="pill-tab-profile" role="tabpanel" aria-labelledby="profile-tab">
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                    +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                    ullamco ad vinyl cillum PBR. Homo nostrud organic.
                </div>

                <div class="tab-pane fade" id="pill-tab-contact" role="tabpanel" aria-labelledby="contact-tab">
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                    retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft
                    beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy
                    irony. Leggings gentrify squid 8-bit cred pitchfork.
                </div>

            </div>
        </div>
    </div>
    <div class="gridder-content" id="content2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g2.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">CATHERINE OPIE</h5>
                    <p>Opie rose to prominence as a photographer at the height of the culture wars between traditional and conservative values in the 1990s. Her portraits of all types of people—figures clad in leather, tattoos, and piercings, as well as surfers, high school football players.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g3.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">CHRISTOPHER WOOL</h5>
                    <p>Starting out as a "Neo-Pop" painter, Christopher Wool explores painting's elusive and allusive qualities with a variety of methods including using commercial rollers to apply decorative patterns on white panels. "I became more interested in what to paint" he claims.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g4.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">MARCEL DZAMA</h5>
                    <p>If there were such a thing as an indie draftsman, then Marcel Dzama would be it. Known for working in a wide range of media, Dzama creates collages, dioramas, and large-scale polyptychs that depict fanciful, anachronistic worlds full of humans, animals.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g5.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">HERNAN BAS</h5>
                    <p>Known for work that is darkly playful and melancholic, Detroit-based artist Hernan Bas often employs references to literature, from Moby Dick to the Hardy Boys to French Romantic writing, reimagining the texts through the figure of the young homosexual dandy.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g6.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">Sean Scully</h5>
                    <p>Irish-born American painter Sean Scully creates textured architectural compositions of stripes and fields of color. Typically working on a large scale, Scully’s paintings often comprise multiple irregularly sized panels, which he layers and attaches to one another.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g7.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">ANDY WARHOL</h5>
                    <p>Quite possibly the most influential artist since Marcel Duchamp, Andy Warhol revolutionized modern art, radically altering the relationship of art to notions of authorship and commodity, and blurring the boundaries between photography, and sculpture.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content8">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g8.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">JONAS WOOD</h5>
                    <p>With one foot rooted in Analytic Cubism and the other in Contemporary Pop art, Jonas Wood is an artist who bridges two seemingly disparate traditions to create paintings that present contemporary life from multiple perspectives and concepts.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridder-content" id="content9">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 p-0 d-none d-lg-block"><img class="img-fluid rounded" src="../assets/img/gallery/g9.jpg" alt="" /></div>
                <div class="col-lg-5 pl-lg-4">
                    <h5 class="ls-1">HERNAN BAS</h5>
                    <p>Known for work that is darkly playful and melancholic, Detroit-based artist Hernan Bas often employs references to literature, from Moby Dick to the Hardy Boys to French Romantic writing, reimagining the texts through the figure of the young homosexual dandy.</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top mt-2" href="#!">Visit Website</a>
                </div>
            </div>
        </div>
    </div>



    <!-- <section> close ============================-->
    <!-- ============================================-->


    <br><br><br>

</main>


{{>footer}}
