{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/headers/careerHeader.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'><br>Careers</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <section>
        <div class="container">

            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Search..."/>
                    </div>

                    <div align="center">
                        <button class="btn btn-dark rounded-capsule mr-1 mb-1" type="button">
                            Search<span class="fas fa-search ml-1" data-fa-transform="shrink-3"></span>
                        </button>
                    </div>
                </div>

                <div class="col-8">


                </div>
            </div>


            <br><br>

            <div class="row">

                <div class="col-4">

                    <div class="ui styled fluid accordion" data-options='{"exclusive":false}'>
                        <div class="active title"><i class="dropdown icon"></i>
                            <h5 class="d-inline-block fs-0">Research</h5>
                        </div>
                        <div class="content">

                            <input type="checkbox" id="research1" name="research1" value="Research">
                            <label for="research1" class="">Research</label><br><br>
                            <input type="checkbox" id="research2" name="research2" value="Research">
                            <label for="research2">Research</label><br><br>

                        </div>
                        <div class="title"><i class="dropdown icon"></i>
                            <h5 class="d-inline-block fs-0">Facilities</h5>
                        </div>
                        <div class="content">

                            <input type="checkbox" id="facilities1" name="facilities1" value="Facilities">
                            <label for="facilities1">Facilities</label><br><br>
                            <input type="checkbox" id="facilities2" name="facilities2" value="Facilities">
                            <label for="facilities2">Facilities</label><br><br>


                        </div>
                        <div class="title"><i class="dropdown icon"></i>
                            <h5 class="d-inline-block fs-0">Administration</h5>
                        </div>
                        <div class="content">

                            <input type="checkbox" id="admin1" name="admin1" value="Administration">
                            <label for="admin1" class="">Administration</label><br><br>
                            <input type="checkbox" id="admin2" name="admin2" value="Administration">
                            <label for="admin2">Administration</label><br><br>

                        </div>
                        <div class="title"><i class="dropdown icon"></i>
                            <h5 class="d-inline-block fs-0">Type</h5>
                        </div>
                        <div class="content active">

                            <input type="checkbox" id="type1" name="type1" value="Full-Time">
                            <label for="type1" class="">Full-Time</label><br><br>
                            <input type="checkbox" id="type2" name="type2" value="Part-Time">
                            <label for="type2">Part-Time</label><br><br>
                            <input type="checkbox" id="type3" name="type3" value="Seasonal">
                            <label for="type3">Seasonal</label><br><br>
                            <input type="checkbox" id="type4" name="type4" value="Student">
                            <label for="type4">Student</label><br>

                        </div>
                    </div>
                    <br>
                    <div align="center">
                        <button class="btn btn-dark rounded-capsule mr-1 mb-1" type="button">
                            Search<span class="fas fa-search ml-1" data-fa-transform="shrink-3"></span>
                        </button>
                    </div>

                </div>

                <div class="col-8">

                    <div class="border-lg-left showcase-default-padding-left">

                        <p style="color: #4A78B5">Position Title<br>Location/Department</p>

                        <br>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam
                            </p>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Apply Now
                            </button>
                        </div>
                    </div>

                    <br><br>

                    <div class="border-lg-left showcase-default-padding-left">

                        <p style="color: #4A78B5">Position Title<br>Location/Department</p>

                        <br>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam
                            </p>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Apply Now
                            </button>
                        </div>
                    </div>

                    <br><br>

                    <div class="border-lg-left showcase-default-padding-left">

                        <p style="color: #4A78B5">Position Title<br>Location/Department</p>

                        <br>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam
                            </p>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Apply Now
                            </button>
                        </div>
                    </div>

                    <br><br>

                    <div class="border-lg-left showcase-default-padding-left">

                        <p style="color: #4A78B5">Position Title<br>Location/Department</p>

                        <br>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam
                            </p>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Apply Now
                            </button>
                        </div>
                    </div>

                    <br><br>

                    <div class="border-lg-left showcase-default-padding-left">

                        <p style="color: #4A78B5">Position Title<br>Location/Department</p>

                        <br>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam
                            </p>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Apply Now
                            </button>
                        </div>
                    </div>

                    <br><br>



                </div>


            </div>
        </div>
    </section>


    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br><br>

</main>


{{>footer}}
