{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/headers/facilityHeader.jpg);">
                        <!--<video autoplay muted loop id="myVideo">
                            <source src="../assets/img/videos/aggrc_green-tank-banner.mp4" type="video/mp4">
                        </video>-->
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Communities</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/headers/researchOyster.jpg);background-position: center 70%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Topic</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br class="d-block d-md-none"> fullest</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->

                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->

                <!-- <li data-zanim-timeline='{"delay":0.1}'>
                   <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                   </div>
                   &lt;!&ndash;/.bg-holder&ndash;&gt;

                   <div class="header-overlay"></div>
                   <div class="container">
                     <div class="d-flex align-items-center pt-10 pb-8">
                       <div class="header-text">
                         <div class="overflow-hidden">
                           <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                         </div>
                         <div class="overflow-hidden">
                           <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                         </div>
                         <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                       </div>
                     </div>
                   </div>
                 </li>-->
            </ul>
        </div>
    </section>
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container">


            <!--<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col">
                <div class="overflow-hidden">
                  <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Powerful Fabrication Methods</h2>
                </div>
                <div class="overflow-hidden">
                  <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
                </div>
                <div class="overflow-hidden">
                  <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
                </div>
              </div>
            </div>-->

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What are communitites?</h2>
                    </div>
                </div>
            </div>


            <div class="row align-items-center">
                <!--<div class="col-md-4 text-md-right">
                  <h5 class="ls-1 mb-3">from the past</h5>
                  <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                                  the problems and needs for creation of custom <br class="d-none d-xl-block" />
                                  devices to support repository development<br class="d-none d-xl-block" />
                                  in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                                  and equipment specifically designed <br class="d-none d-sm-block" />
                    for use with fish and shellfish has<br class="d-none d-sm-block" />
                     forced researchers and other  <br class="d-none d-sm-block" />
                    user groups to modify and  <br class="d-none d-sm-block" />
                     adapt devices that were   <br class="d-none d-sm-block" />
                     developed  for livestock <br class="d-none d-sm-block" />
                    and humans. </p>
                </div>
                <div class="col-md-4 px-lg-4 my-4 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AdobeStock_90161302.jpeg" alt="" /></div>-->
                <div class="col-6">
                    <!--<h5 class="ls-1 mb-3">to the future </h5>-->
                    <p class="mb-0" align="left">There is no single aquatic species community with respect to genetic
                        resources. Within aquatic species, there is an incredible array of viewpoints, languages,
                        technologies, and goals. This makes it difficult to address user community needs because in the
                        current situation these groups need to be addressed individually. Based on this, we recognize
                        the differences but aim to focus on the similarities. While they don't recognize it themselves,
                        these communities share many common needs. Our philosophy is to identify these common needs to
                        generalize and standardize our approaches for community support. This approach has been
                        developed through interactions with hundreds of aquatic user communities, and is intended to
                        provide mechanisms for coalesce within individual communities and lay the groundwork for
                        cooperation with other communities in repository development.
                    </p>
                </div>

                <div class="col-6">
                    <img class="img-fluid" src="../assets/img/illustration/greater-than-the-sum.gif">
                </div>
            </div>

            <!--<div class="overflow-hidden">
              <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
            </div>-->

        </div>
        <!-- end of .container-->

    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
  <!--  <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container">


            &lt;!&ndash;<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col">
                <div class="overflow-hidden">
                  <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Powerful Fabrication Methods</h2>
                </div>
                <div class="overflow-hidden">
                  <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
                </div>
                <div class="overflow-hidden">
                  <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
                </div>
              </div>
            </div>&ndash;&gt;

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What are Communities?</h2>
                    </div>
                </div>
            </div>


            <div class="align-items-center">
                &lt;!&ndash;<div class="col-md-4 text-md-right">
                  <h5 class="ls-1 mb-3">from the past</h5>
                  <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                                  the problems and needs for creation of custom <br class="d-none d-xl-block" />
                                  devices to support repository development<br class="d-none d-xl-block" />
                                  in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                                  and equipment specifically designed <br class="d-none d-sm-block" />
                    for use with fish and shellfish has<br class="d-none d-sm-block" />
                     forced researchers and other  <br class="d-none d-sm-block" />
                    user groups to modify and  <br class="d-none d-sm-block" />
                     adapt devices that were   <br class="d-none d-sm-block" />
                     developed  for livestock <br class="d-none d-sm-block" />
                    and humans. </p>
                </div>
                <div class="col-md-4 px-lg-4 my-4 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AdobeStock_90161302.jpeg" alt="" /></div>&ndash;&gt;
                <div class="">
                    &lt;!&ndash;<h5 class="ls-1 mb-3">to the future </h5>&ndash;&gt;
                    <p class="mb-0" align="left">There is no single aquatic species community with respect to genetic
                        resources. Within aquatic species, there is an incredible array of viewpoints, languages,
                        technologies, and goals. This makes it difficult to address user community needs because in the
                        current situation these groups need to be addressed individually. Based on this, we recognize
                        the differences but aim to focus on the similarities. While they don't recognize it themselves,
                        these communities share many common needs. Our philosophy is to identify these common needs to
                        generalize and standardize our approaches for community support. This approach has been
                        developed through interactions with hundreds of aquatic user communities, and is intended to
                        provide mechanisms for coalesce within individual communities and lay the groundwork for
                        cooperation with other communities in repository development.
                    </p>
                </div>
            </div>

            &lt;!&ndash;<div class="overflow-hidden">
              <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
            </div>&ndash;&gt;

        </div>
        &lt;!&ndash; end of .container&ndash;&gt;

    </section>-->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="biomedicalModels">
        <div class="container">

            <div class="ui fluid accordion" data-options='{"exclusive":false}'>
                <div class="active title">
                    <div class=" hoverbox rounded text-center"
                         style="background-image:url(../assets/img/headers/zirc1Header.jpg);-webkit-background-size: cover;">
                        <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
                             alt="">
                        <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
                            <div>
                                <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                                    Biomedical Models</h2>
                            </div>
                        </div>
                    </div>                </div>
                <div class="content">


                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                        <div class="hoverdir-item position-relative rounded overflow-hidden "
                             data-griddercontent="#content1"
                             data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                            <a class="d-block" data-remodal-target="modal">
                                <img class="rounded img-fluid w-100"
                                     src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                <div class="hoverdir-item-content">
                                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                        <div class="text-700">
                                            <h3 class="text-white lh-1 fs-2">Topic</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                        <div class="hoverdir-item position-relative rounded overflow-hidden "
                             data-griddercontent="#content1"
                             data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                            <a class="d-block" data-remodal-target="modal">
                                <img class="rounded img-fluid w-100"
                                     src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                <div class="hoverdir-item-content">
                                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                        <div class="text-700">
                                            <h3 class="text-white lh-1 fs-2">Topic</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                        <div class="hoverdir-item position-relative rounded overflow-hidden "
                             data-griddercontent="#content1"
                             data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                            <a class="d-block" data-remodal-target="modal">
                                <img class="rounded img-fluid w-100"
                                     src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                <div class="hoverdir-item-content">
                                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                        <div class="text-700">
                                            <h3 class="text-white lh-1 fs-2">Topic</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                        <div class="hoverdir-item position-relative rounded overflow-hidden "
                             data-griddercontent="#content1"
                             data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                            <a class="d-block" data-remodal-target="modal">
                                <img class="rounded img-fluid w-100"
                                     src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                <div class="hoverdir-item-content">
                                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                        <div class="text-700">
                                            <h3 class="text-white lh-1 fs-2">Topic</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                        <div class="hoverdir-item position-relative rounded overflow-hidden "
                             data-griddercontent="#content1"
                             data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                            <a class="d-block" data-remodal-target="modal">
                                <img class="rounded img-fluid w-100"
                                     src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                <div class="hoverdir-item-content">
                                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                        <div class="text-700">
                                            <h3 class="text-white lh-1 fs-2">Topic</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                        <div class="hoverdir-item position-relative rounded overflow-hidden "
                             data-griddercontent="#content1"
                             data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                            <a class="d-block" data-remodal-target="modal">
                                <img class="rounded img-fluid w-100"
                                     src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                <div class="hoverdir-item-content">
                                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                        <div class="text-700">
                                            <h3 class="text-white lh-1 fs-2">Topic</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>

            </div>


        </div>

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="conservation">
        <a href="">

            <div class=" container hoverbox rounded text-center"
                 style="background-image:url(../assets/img/headers/zirc1Header.jpg);-webkit-background-size: cover;">
                <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
                     alt="">
                <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
                    <div>
                        <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                            Conservation</h2>
                    </div>
                </div>
            </div>
        </a>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="aquaculture">
        <a href="">

            <div class=" container hoverbox rounded text-center"
                 style="background-image:url(../assets/img/headers/researchOyster.jpg);-webkit-background-size: cover;">
                <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
                     alt="">
                <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
                    <div>
                        <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                            Aquaculture</h2>
                    </div>
                </div>
            </div>
        </a>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="repositories">
        <a href="">
            <div class=" container hoverbox rounded text-center"
                 style="background-image:url(../assets/img/headers/zirc1Header.jpg);-webkit-background-size: cover;">
                <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
                     alt="">
                <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
                    <div>
                        <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                            Repositories</h2>
                    </div>
                </div>
            </div>
        </a>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br><br><br>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section style="padding-top:0 !important;">

            <div class="container">

                <div align="center">
                    <div class="row">
                        <div class="col-4" align="right">
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Biomedical</h2>
                            <br>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related
                                Publications
                            </button>
                        </div>
                        <div class="col-7" align="left">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>

                    </div>
                </div>


                <br><br>
                <div align="center">
                    <div class="">
                        <div class="sortable" data-options='{"layoutMode":"packery"}'>
                            <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                                 data-zanim-timeline="{}" data-zanim-trigger="scroll">

                                <div class="col-6 col-md-2 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-2 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-2 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-2 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-2 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-2 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section style="padding-top:0 !important;">

            <div class="container">

                <div align="center">
                    <div class="row">
                        <div class="col-4" align="right">
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Conservation</h2>
                            <br>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related
                                Publications
                            </button>
                        </div>
                        <div class="col-7" align="left">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>

                    </div>
                </div>


                <br><br>
                <div align="center">
                    <div class="">
                        <div class="sortable" data-options='{"layoutMode":"packery"}'>
                            <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                                 data-zanim-timeline="{}" data-zanim-trigger="scroll">

                                <div class="col-6 col-md-4 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" href="">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 technology small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 research small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section style="padding-top:0 !important;">

            <div class="container">

                <div align="center">
                    <div class="row">
                        <div class="col-4" align="right">
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Aquaculture</h2>
                            <br>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related
                                Publications
                            </button>
                        </div>
                        <div class="col-7" align="left">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>

                    </div>
                </div>


                <br><br>
                <div align="center">
                    <div class="">
                        <div class="sortable" data-options='{"layoutMode":"packery"}'>
                            <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                                 data-zanim-timeline="{}" data-zanim-trigger="scroll">

                                <div class="col-6 col-md-4 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" href="oyster-hatcheries.html">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/communities/aquaculture_oysters.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Oyster Hatcheries</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 technology small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 research small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section style="padding-top:0 !important;">

            <div class="container">

                <div align="center">
                    <div class="row">
                        <div class="col-4" align="right">
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Repositories</h2>
                            <br>
                            <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related
                                Publications
                            </button>
                        </div>
                        <div class="col-7" align="left">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>

                    </div>
                </div>


                <br><br>
                <div align="center">
                    <div class="">
                        <div class="sortable" data-options='{"layoutMode":"packery"}'>
                            <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                                 data-zanim-timeline="{}" data-zanim-trigger="scroll">

                                <div class="col-6 col-md-4 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" href="">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 technology small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 research small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 communities small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" href="">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 technology small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-6 col-md-4 sortable-item p-2 research small"
                                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                                         data-griddercontent="#content1"
                                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                        <a class="d-block" data-remodal-target="modal">
                                            <img class="rounded img-fluid w-100"
                                                 src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                            <div class="hoverdir-item-content">
                                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                                    <div class="text-700">
                                                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
          <section style="padding-top:0 !important;">

    <div class="row">
      <div class="col-4 overflow-hidden" align="right">
        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Conservation</h2>
        <br>
        <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related Publications
        </button>
      </div>
      <div class="col-7">
        <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam
        </p>
      </div>

    </div>
    <br><br>
            <div align="center">
            <div class="col-md-9">
            <div class="sortable" data-options='{"layoutMode":"packery"}'>
              <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                   data-zanim-timeline="{}" data-zanim-trigger="scroll">

            <div class="col-6 col-md-4 sortable-item p-2 communities small"
                 data-zanim-xs='{"animation":"zoom-in","delay":0}'>
              <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                   data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                <a class="d-block" data-remodal-target="modal" >
                  <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                  <div class="hoverdir-item-content">
                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                      <div class="text-700">
                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-6 col-md-4 sortable-item p-2 technology small"
                 data-zanim-xs='{"animation":"zoom-in","delay":0}'>
              <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                   data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                <a class="d-block" data-remodal-target="modal" >
                  <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                  <div class="hoverdir-item-content">
                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                      <div class="text-700">
                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-6 col-md-4 sortable-item p-2 research small"
                 data-zanim-xs='{"animation":"zoom-in","delay":0}'>
              <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                   data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                <a class="d-block" data-remodal-target="modal" >
                  <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                  <div class="hoverdir-item-content">
                    <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                      <div class="text-700">
                        <h3 class="text-white lh-1 fs-2">Topic</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

              </div>
            </div>
            </div>
            </div>

          </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
            <section style="padding-top:0 !important;">

            <div class="row">
              <div class="col-4 overflow-hidden" align="right">
                <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Aquaculture</h2>
                <br>
                <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related Publications
                </button>
              </div>
              <div class="col-7">
                <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam
                </p>
              </div>

            </div>
            <br><br>
            <div align="center">
              <div class="col-md-9">
                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                  <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                       data-zanim-timeline="{}" data-zanim-trigger="scroll">

                    <div class="col-6 col-md-4 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" href="oyster-hatcheries.html" >
                          <img class="rounded img-fluid w-100" src="../assets/img/communities/aquaculture_oysters.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Oyster Hatcheries</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 technology small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 research small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
            <section style="padding-top:0 !important;">

            <div class="row">
              <div class="col-4 overflow-hidden" align="right">
                <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Repositories</h2>
                <br>
                <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related Publications
                </button>
              </div>
              <div class="col-7">
                <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam
                </p>
              </div>

            </div>
            <br><br>
            <div align="center">
              <div class="col-md-9">
                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                  <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                       data-zanim-timeline="{}" data-zanim-trigger="scroll">

                    <div class="col-6 col-md-4 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 technology small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 research small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 technology small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-4 sortable-item p-2 research small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
            <section style="padding-top:0 !important;">

            <div class="row">
              <div class="col-4 overflow-hidden" align="right">
                <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Biomedical</h2>
                <br>
                <button class="hvr-sweep-top btn btn-outline-primary mr-1 mb-1" type="button">Related Publications
                </button>
              </div>
              <div class="col-7">
                <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                  At vero eos et accusam
                </p>
              </div>

            </div>
            <br><br>
            <div align="center">
              <div class="col-md-9">
                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                  <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                       data-zanim-timeline="{}" data-zanim-trigger="scroll">

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col-6 col-md-2 sortable-item p-2 communities small"
                         data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                      <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                           data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal" >
                          <img class="rounded img-fluid w-100" src="../assets/img/home/masonry_vert_400x600.jpg" alt=""/>
                          <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                              <div class="text-700">
                                <h3 class="text-white lh-1 fs-2">Topic</h3>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <br><br><br>

          </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="prototyping">

       <div class="container">
         <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
           <div class="col">
             <div class="overflow-hidden">
               <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Prototyping and Testing Process</h2>
             </div>
             <div class="overflow-hidden">
               <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
             </div>
             <div class="overflow-hidden">
               <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
             </div>
           </div>
         </div>
         <div class="row align-items-center">
           &lt;!&ndash;<div class="col-md-4 text-md-right">
             <h5 class="ls-1 mb-3">from the past</h5>
             <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                             the problems and needs for creation of custom <br class="d-none d-xl-block" />
                             devices to support repository development<br class="d-none d-xl-block" />
                             in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                             and equipment specifically designed <br class="d-none d-sm-block" />
               for use with fish and shellfish has<br class="d-none d-sm-block" />
                forced researchers and other  <br class="d-none d-sm-block" />
               user groups to modify and  <br class="d-none d-sm-block" />
                adapt devices that were   <br class="d-none d-sm-block" />
                developed  for livestock <br class="d-none d-sm-block" />
               and humans. </p>
           </div>&ndash;&gt;
           &lt;!&ndash;<div class="col-md-12 px-lg-12 my-12 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AGGRC_testing_process.png" alt="" /></div>
&ndash;&gt;           &lt;!&ndash; <div class="col-md-12 ">
             &lt;!&ndash;<h5 class="ls-1 mb-3">to the future </h5>&ndash;&gt;
             <p class="mb-0">Historically, innovation has not been translatable to
               the problems and needs for creation of custom
               devices to support repository development
               in aquatic species.  This lack of devices
               and equipment specifically designed
               for use with fish and shellfish has
               forced researchers and other
               user groups to modify and
               adapt devices that were
               developed  for livestock

               and humans.
               This decades-long impediment has been removed by recent technological
               advances that provide powerful newfabrication methods, such as soft lithography
               (microfabrication) and additive manufacturing (3-dimensional printing). We utilize
               these as core capabilities to rapidly translate innovation, in the form of custom design
               ideas, into reality through our technology development process.
             </p>
           </div>&ndash;&gt;

         </div>

       </div>
       &lt;!&ndash; end of .container&ndash;&gt;

     </section>-->
    <!-- <section> close ============================-->
    <!-- ============================================-->

</main>


{{>footer}}
