{{> nav}}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->


    <!--
        <section class="py-0 overflow-hidden" id="top">
            <div class="flexslider border-0 overflow-hidden rounded-0">
                <ul class="slides">
                    &lt;!&ndash; ============================================&ndash;&gt;
                    &lt;!&ndash; Start of 1 header slide ===========================&ndash;&gt;
                    <li data-zanim-timeline='{"delay":0.1}'>
                        <div class="bg-holder overlay_header parallax"
                             style="background-image:url(../assets/img/home/headers/repository_development.png);">
                        </div>
                        &lt;!&ndash;/.bg-holder&ndash;&gt;

                        <div class="header-overlay"></div>
                        <div class="container">
                            <div class="d-flex align-items-center pt-10 pb-8">
                                <div class="header-text">
                                    <div class="overflow-hidden">
                                        <h1 class="display-3 text-white fs-5 fs-md-7"
                                            data-zanim-xs='{"duration":2,"delay":0}'>Repository Development</h1>
                                    </div>
                                    <div class="overflow-hidden">
                                        <p class="text-uppercase text-400 ls-2 mt-2"
                                           data-zanim-xs='{"duration":2,"delay":0.1}'> Let us help <br
                                                class="d-block d-md-none"> you </p>
                                    </div>
                                    <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                        <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                           href="../assets/pdf/tiersch_cryopreservationBook1.pdf" target="_blank">Explore
                                            your options</a></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    &lt;!&ndash; ============================================&ndash;&gt;
                    &lt;!&ndash; End of 1 header slide ===========================&ndash;&gt;
                </ul>
            </div>
        </section>
    -->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center pb-0" style="">

        <div class="container-fluid">

            <div class="sortable" data-options='{"layoutMode":packery"}'>
                <div class="overflow-hidden align-content-center" align="center">
                    <div class="col-md-8" align="center">
                        <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":"1.5","delay":0}'>Easy, simple. Dispark is
                            an intuitive rental
                            Software for parks and recreation centers.
                            </h3>
                    </div>
                </div>
                <br>
                <div class="overflow-hidden">
                    <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}'/>
                </div>

                <!-- ==================================== -->
                <!-- Sorting Subjects for Masonry======== -->

                <div class="menu mb-3 justify-content-center">
                    <div class="item active" data-filter="*">all</div>
                    <div class="item" data-filter=".pavilions">Pavilions</div>
                    <div class="item" data-filter=".research">Tennis Courts</div>
                    <div class="item" data-filter=".pool">Pool</div>
                    <div class="item" data-filter=".baseballFields">Baseball Fields</div>
                    <div class="item" data-filter=".commercial">commercial</div>
                    <div class="item" data-filter=".about">about</div>

                </div>

                <!-- /Sorting Subjects for Masonry======= -->
                <!-- ==================================== -->


                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                    <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                         data-zanim-timeline="{}" data-zanim-trigger="scroll">

                        <!-- ============================================-->
                        <!-- Active Cards <section> begin ===============-->

                        <div class="col-6 col-md-3 sortable-item p-2 pavilions baseballFields small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#currentEvents">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/currentevents_1x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">St. Amant Park</h3>
                                                <p class="lead">About
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#fabrication">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/3dprinting_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <!-- Active Cards <section> end =================-->
                        <!-- ============================================-->


                        <!-- ============================================-->
                        <!-- Sample <section> begin =====================-->
                        <!--


                        Sample Square Masonry
                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="3d-printing.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        Sample Half-Square Masonry
                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="3d-printing.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        -->
                        <!-- Sample <section> end =======================-->
                        <!-- ============================================-->


                    </div>
                </div>


            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <section class="text-center pb-0" style="padding-top:0 !important;">

        <div class="container-fluid">

            <div class="sortable" data-options='{"layoutMode":packery"}'>
                <div class="overflow-hidden">
                    <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}'/>
                </div>

                <!-- ==================================== -->
                <!-- Sorting Subjects for Masonry======== -->

                <div class="menu mb-3 justify-content-center">
                    <div class="item active" data-filter="*">all</div>
                    <div class="item" data-filter=".technology">technology</div>
                    <div class="item" data-filter=".research">research</div>
                    <div class="item" data-filter=".publications">publications</div>
                    <div class="item" data-filter=".communities">communities</div>
                    <div class="item" data-filter=".commercial">commercial</div>
                    <div class="item" data-filter=".about">about</div>

                </div>

                <!-- /Sorting Subjects for Masonry======= -->
                <!-- ==================================== -->


                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                    <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                         data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <!--<div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                               <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                               </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/work-single.html">
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Technology</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 sortable-item p-2 design small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden " data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal" >
                                    <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Multipurpose HTML template <br> with bootstrap 4
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>-->


                        <!-- <div class="col-6 col-md-5 sortable-item p-2 medium"
                              data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                             <div class="hoverdir-item position-relative rounded overflow-hidden"
                                  data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                 <a class="d-block" href="../pages/work-single.html">
                                     <img class="rounded img-fluid w-100" src="../assets/img/home/3D_printing_home_masonary.jpg" alt=""
                                          data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                     <div class="hoverdir-item-content">
                                         <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                             <div class="text-700">
                                                 <h3 class="text-white lh-1 fs-2">Technology</h3>
                                                 <p class="lead">md-5
                                                 </p>
                                             </div>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                         </div>-->

                        <!-- ============================================-->
                        <!-- Active Cards <section> begin ===============-->

                        <div class="col-6 col-md-3 sortable-item p-2 communities small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#currentEvents">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/currentevents_1x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Current Events</h3>
                                                <p class="lead">About
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#fabrication">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/3dprinting_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#alphaTesting">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/testing_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Alpha-Testing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#technology">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/technology_3x4.5.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Technology</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 commercial small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/pastProjects_2x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Past Projects</h3>
                                                <p class="lead">Commercial
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 research medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/research.html">
                                    <img class="rounded img-fluid w-100" src="../assets/img/masonary/technology_2x1.jpg"
                                         alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Research</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 publications small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="publications.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/publications_3x4.5.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Publications</h3>
                                                <p class="lead">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 commercial small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/commercial.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/commercial_3x4.5.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Commercial</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 about medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="roots.html">
                                    <img class="rounded img-fluid w-100" src="../assets/img/masonary/about_2x1.jpg"
                                         alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Historical Roots of the AGGRC</h3>
                                                <p class="lead">About
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 sortable-item p-2 communities medium"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="../pages/communities.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/communities_2x1.jpg" alt=""
                                         data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Commmunities</h3>
                                                <p class="lead">Overview
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 research small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="modal">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/repositoryProjects_1x1.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Repository Projects</h3>
                                                <p class="lead">Research
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#betaTesting">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/testing_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Beta-Testing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#tutorials">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/tutorials_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Tutorials</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#microfabrication">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/microfab_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Microfabrication</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="#electrocryobiology">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/masonary/electrocryo_2x2.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Electrocryobiology</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- Active Cards <section> end =================-->
                        <!-- ============================================-->


                        <!-- ============================================-->
                        <!-- Sample <section> begin =====================-->
                        <!--


                        Sample Square Masonry
                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="3d-printing.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        Sample Half-Square Masonry
                        <div class="col-6 col-md-3 sortable-item p-2 technology small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" href="3d-printing.html">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_wide_800x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                                <p class="lead">Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        -->
                        <!-- Sample <section> end =======================-->
                        <!-- ============================================-->


                    </div>
                </div>


                <!-- this is the original -->
                <!-- <div class="row sortable-container sortable-container-gutter-fix hoverdir-grid" data-zanim-timeline="{}"
                      data-zanim-trigger="scroll">
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                             <a class="d-block" href="../pages/work-single.html">
                                 <img class="img-fluid rounded" src="../assets/img/masonary/01.jpg" alt=""/>
                                 <div class="hoverdir-item-content">
                                     <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                         <div class="text-700">
                                             <h3 class="text-white lh-1 fs-2">Website Design</h3>
                                             <p class="ls-0 mb-0">Multipurpose HTML template <br> with bootstrap 4</p>
                                         </div>
                                     </div>
                                 </div>
                             </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/02.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">UI/UX Design</h3>
                                         <p class="ls-0 mb-0">Most user friendly user <br> interface design</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item mobile mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/03.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Mobile Accessories</h3>
                                         <p class="ls-0 mb-0">Popular mobile accessories <br> in 2019</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item test mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.3}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/04.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Interior Photography</h3>
                                         <p class="ls-0 mb-0">More than 50K happy <br> real state clients</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item mobile mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.4}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/05.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">App Development</h3>
                                         <p class="ls-0 mb-0">Most secured and optimized <br> mobile app development</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item marketing mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.5}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/06.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Content Writing</h3>
                                         <p class="ls-0 mb-0"> More than 50K blog posts <br> on different subjects</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.6}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/07.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Packaging Designing</h3>
                                         <p class="ls-0 mb-0">Beautiful packaging design done <br> by our designers</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item photography mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.7}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/08.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Model Photography</h3>
                                         <p class="ls-0 mb-0">Exclusive model photography by <br> award winning
                                             photographers</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                     <div class="col-sm-6 col-lg-4 px-2 sortable-item design mb-3"
                          data-zanim-xs='{"animation":"zoom-in","delay":0.8}'>
                         <div class="hoverdir-item position-relative rounded overflow-hidden"
                              data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'><a class="d-block"
                                                                                                  href="../pages/work-single.html"><img
                                 class="img-fluid rounded" src="../assets/img/masonary/09.jpg" alt=""/>
                             <div class="hoverdir-item-content">
                                 <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                     <div class="text-700">
                                         <h3 class="text-white lh-1 fs-2">Digital Marketing</h3>
                                         <p class="ls-0 mb-0">We spread your digital products <br> all over the world</p>
                                     </div>
                                 </div>
                             </div>
                         </a></div>
                     </div>
                 </div>-->
            </div>
        </div>
        <!-- end of .container-->

    </section>





</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


{{>footer}}
