{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/headers/3DprintingPrinterGIF.gif);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'><br>Electrocryobiology</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container">

            <div class="row align-items-center">


                <div class="col-12">

                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What is
                            electrocryobiology?</h2>
                    </div>
                    <p class="lead" align="left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Facilisis sed odio morbi quis commodo. Tempus urna et pharetra
                        pharetra massa. Adipiscing diam donec adipiscing tristique risus nec. Curabitur gravida arcu ac
                        tortor dignissim convallis aenean. Turpis cursus in hac habitasse platea. Sem viverra aliquet
                        eget sit amet tellus cras adipiscing. Nunc pulvinar sapien et ligula ullamcorper malesuada proin
                        libero. Augue interdum velit euismod in pellentesque massa placerat duis. Consectetur adipiscing
                        elit ut aliquam purus sit amet luctus. Nibh venenatis cras sed felis eget velit aliquet sagittis
                        id. Vulputate sapien nec sagittis aliquam.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center pb-0" style="padding-top:0 !important;">


        <!-- ================================================-->
        <!--  Fab Sortable Cards ============================-->

        <div class="container-fluid col-md-8">
            <div class="sortable" data-options='{"layoutMode":packery"}'>
                <br>

                <!-- Subject Filters-->
                <div class="menu mb-3 justify-content-center">
                    <!--
                                        <div class="item" data-filter="*">all</div>
                    -->
                    <div class="item active" id="cit-sort" data-filter=".search1">Subcategory</div>
                    <div class="item" id="cig-sort" data-filter=".search2">Subcategory</div>
                </div>
                <!-- /Subject Filters-->

                <!-- Card List-->
                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                    <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                         data-zanim-timeline="{}" data-zanim-trigger="scroll">

                        <!--3D-Printing Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 search1 small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="3dPrinting">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3-D Printing</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/3D-Printing Card-->

                        <!--Soft Lithography Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 search1 small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="softLithography">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Soft Lithography</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Soft Lithography Card-->

                        <!--CNC Router Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 search2 small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="cncRouter">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">CNC Router</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/CNC Router Card-->

                        <!--5-Axis Mill Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 search2 small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="5axisMill">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">5-axis Mill</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/5-Axis Mill Card-->


                    </div>
                </div>
            </div>
        </div>

        <!--  End Fab Sortable Cards ========================-->
        <!-- ================================================-->


        <!-- ===============================================-->
        <!--  Fab Technology Modals ========================-->

        <!-- =================================-->
        <!-- 3D Printing Modal ===============-->
        <div class="remodal rounded-soft" data-remodal-id="3dPrinting" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="3dPrintingTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-3dPrinting" data-toggle="tab"
                           href="#pill-tab-background-3dPrinting"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-3dPrinting" data-toggle="tab"
                           href="#pill-tab-process-3dPrinting" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-3dPrinting" data-toggle="tab"
                           href="#pill-tab-products-3dPrinting"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="3dPrintingTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-3dPrinting" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>3D-Printing</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-3dPrinting" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>3D-Printing</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-3dPrinting" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>3D-Printing</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /3D Printing Modal ==============-->
        <!-- =================================-->

        <!-- =================================-->
        <!-- Soft Lithography Modal ==========-->
        <div class="remodal rounded-soft" data-remodal-id="softLithography" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="softLithographyTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-softLithography" data-toggle="tab"
                           href="#pill-tab-background-softLithography"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-softLithography" data-toggle="tab"
                           href="#pill-tab-process-softLithography" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-softLithography" data-toggle="tab"
                           href="#pill-tab-products-softLithography"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="softLithographyTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-softLithography" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Soft Lithography</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-softLithography" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Soft Lithography</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-softLithography" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Soft Lithography</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /Soft Lithography Modal =========-->
        <!-- =================================-->

        <!-- =================================-->
        <!-- CNC Router Modal ================-->
        <div class="remodal rounded-soft" data-remodal-id="cncRouter" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="cncRouterTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-cncRouter" data-toggle="tab"
                           href="#pill-tab-background-cncRouter"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-cncRouter" data-toggle="tab"
                           href="#pill-tab-process-cncRouter" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-cncRouter" data-toggle="tab"
                           href="#pill-tab-products-cncRouter"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="cncRouterTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-cncRouter" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>CNC Router</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-cncRouter" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>CNC Router</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-cncRouter" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>CNC Router</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /CNC Router Modal ===============-->
        <!-- =================================-->

        <!-- =================================-->
        <!-- CNC Router Modal ================-->
        <div class="remodal rounded-soft" data-remodal-id="5axisMill" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="5axisMillTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-5axisMill" data-toggle="tab"
                           href="#pill-tab-background-5axisMill"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-5axisMill" data-toggle="tab"
                           href="#pill-tab-process-5axisMill" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-5axisMill" data-toggle="tab"
                           href="#pill-tab-products-5axisMill"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="5axisMillTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-5axisMill" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>5-Axis Mill</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-5axisMill" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>5-Axis Mill</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-5axisMill" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>5-Axis Mill</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /CNC Router Modal ===============-->
        <!-- =================================-->


        <!--  End Fab Technology Modals ====================-->
        <!-- ===============================================-->


    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">


            <div class="container">

                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">3-d Printed Sensors</h3>
                <br>
                <div class="row">
                    <div class="col-5">
                        <p class="mb-0" align="left">3-D printing offers unexplored utility as a fabrication method to
                            design, prototype, test, and implement sensing platforms for monitoring of cryopreservation
                            procedures
                            and phenomena. Such devices can provide quantitative data regarding temperature profiles and
                            phase-transition
                            events and can be used to minimize the variations in implementing standardized cryopreservation
                            protocols.
                            Given that 3-D printing is increasingly common around the world, and specific devices can be
                            designed
                            based on user needs, customization leading to eventual standardization could be an expected
                            outcome of
                            applying this technology. By sharing design files, different user groups can become
                            micromanufacturers
                            and perform reproducible cryopreservation procedures regardless of their location.
                        </p>
                    </div>
                    <div class="col-7">
                        <img class="img-fluid rounded" src="../assets/img/technology/sensors_content.jpg" alt=""/>
                    </div>

                </div>

            </div>

            &lt;!&ndash; end of .container&ndash;&gt;

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

            <div class="container">

                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Printed Circuit Board Based
                    Sensors</h3>
                <br>
                <div class="row">
                    <div class="col-5">
                        <p class="mb-0" align="left">The printed circuit board (PCB) is one of the essential components of
                            most
                            electronic systems. PCB boards are composed of conducting patterns formed on an insulating
                            substrate,
                            mostly FR4 (fiberglass interwoven with epoxy resin). Electronic components such as semiconductor
                            chips,
                            capacitors, and resistors can be soldered on a designed footprint on the board, and traces of
                            conducting
                            materials links them to each other. Considering the chemical, thermal, and mechanical stability
                            of the
                            PCB board, they have the potential to be used for developing sensors at low cost for undesirable
                            sensing
                            conditions such as ultra-low temperatures.
                            <br><br>
                            Since the introduction of the electrical impedance concept, it has gained popularity as a
                            powerful tool
                            for practical applications such as analysis of electrical properties of bulk materials and
                            biological
                            cell suspensions. We have developed multiple impedance sensing probes, that can be employed in
                            order to
                            monitor the cryopreservation processes. Thes impedimetric sensors are capable provide
                            information about
                            the freezing and thawing conditions as well as the sample composition. The probes are working
                            with our
                            portable impedance measurement system.
                        </p>
                    </div>
                    <div class="col-7">
                        <img class="img-fluid rounded" src="../assets/img/technology/circuitboard_content.jpg" alt=""/>
                    </div>

                </div>

            </div>

            &lt;!&ndash; end of .container&ndash;&gt;

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--
        <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

            <div class="container">

                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Microfabricated Rheotactic
                    Observation Chip</h3>
                <br>
                <div class="row">
                    <div class="col-5">
                        <p class="mb-0" align="left"> Zebrafish (Danio rerio) is a prominent model organism for studying
                            vertebrate
                            biology in biomedical research. Reproductive biologists have focused on identification of model
                            strains
                            and cryopreservation of their genetic resources for the development of genetic repositories.
                            Accurate
                            estimation of sperm quality is necessary for standardization of cryopreservation. However,
                            current
                            assessment of sperm quality is characterized by inconsistent and conflicting results, which is a
                            considerable barrier to standardization. Thus, reproductive biologists aim to define observable
                            characteristics that correlate to sperm quality, and this requires a better understanding of the
                            fundamental mechanisms that dictate sperm swimming. This project aimed to design, fabricate, and
                            optimize a microfluidic device (Fig. 1) that allowed for activation, imaging, and analysis of
                            zebrafish sperm directional swimming at controlled fluid velocities between 20 and 60 μm/s ± 25%
                            driven
                            by hydrostatic pressure. To achieve this, a microfluidic device was designed to activate sperm
                            in a flowstream with bulk fluid velocity induced by height differentials between inlet and
                            outlet reservoirs.
                            <br><br>
                            Rheotaxis, swimming into oncoming current, has been observed in mammalian sperm, but not in
                            zebrafish
                            sperm, prompting the scientific premise that robust sperm can be identified by this behavior,
                            and it
                            can be used as a predictor of quality. We altered the design of the MAMC to permit the control
                            of fluid
                            velocities in the microchannel to match those of zebrafish sperm (20-60 µm /sec) to enable study
                            of
                            swimming behavior. Inlet and outlet tubes of defined media heights act as a manometer to control
                            flow.
                            Preliminary observations indicate that sperm can exhibit directional swimming. Without a mixer,
                            this
                            occurs at the boundaries of the sperm and adjacent water streams. When overlaid on a
                            COMSOL-simulated
                            map of salt concentration in the flow channel, paths of activated sperm show upstream swimming.
                            This is
                            an example of new modalities of biological parameters that the MAMC can bring to sperm research
                            to
                            improve evaluation of quality.

                        </p>
                    </div>
                    <div class="col-7">
                        <img class="img-fluid rounded" src="../assets/img/technology/ecbdata_content.jpg" alt=""/>
                    </div>

                </div>

            </div>

            &lt;!&ndash; end of .container&ndash;&gt;

        </section>
    -->
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- <section> close ============================-->
    <!-- ============================================-->


    <br><br><br>

</main>


{{>footer}}
