{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="overflow-hidden py-0" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">

        <div class="bg-holder overlay_header parallax"
             style="background-image:url(../assets/img/headers/3DprintingPrinterGIF.gif);background-position: center 58%;">
        </div>
        <!--/.bg-holder-->

        <div class="header-overlay"></div>
        <div class="container">
            <div class="d-flex align-items-center pt-10 pb-8">
                <div class="header-text">
                    <div class="overflow-hidden">
                        <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                            Core Fabrication Technologies</h1>
                    </div>
                    <div class="overflow-hidden">
                        <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container">


            <div class="col-12">
                <blockquote class="fs-5 text-900 font-italic font-weight-light">
                    <br>
                    <p><i>Great things are done by a series of small things brought together.</i></p>
                    <br>
                    <!--<br>
                    <p><i>"Custom development of devices and equipment specifically for use with fish and shellfish is essential for
                        development of germplasm repositories worldwide."</i></p>
                    <br>
                    <br>

                    <p><i>" The lack of devices and equipment
                        specifically designed for use with fish and shellfish has forced researchers and other user
                        groups
                        to modify and adapt devices that were developed for livestock and humans and essential prevented development of germplasm repositories."</i></p>
                    <br>-->
                </blockquote>
            </div>

            <div class="row align-items-center">


                <div class="col-12">

                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What is CAD/CAM?</h2>
                    </div>
                    <p class="lead" align="left">
                        CAD-CAM technology is the culmination of decades of contributions by many in the name of
                        manufacturing automation. It is the vision of innovators and inventors, mathematicians and
                        machinists alike, all striving to shape the future and drive manufacturing with technology. The
                        term “CAD-CAM” is generally used to describe the software that is used for design and machining
                        or manufacturing with a CNC Machine. CAD is an acronym for Computer Aided Design and CAM is an
                        acronym for Computer Aided Manufacturing. CAD software is used to create things by designing and
                        drawing, using geometric shapes to construct a model. However, not all manufactured parts have
                        to be designed as a solid 3D model.
                    </p>

                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What is forming?</h2>
                    </div>
                    <p class="lead" align="left">
                        Forming, metal forming, is the metalworking process of fashioning metal parts and objects
                        through mechanical deformation; the workpiece is reshaped without adding or removing material,
                        and its mass remains unchanged.[1] Forming operates on the materials science principle of
                        plastic deformation, where the physical shape of a material is permanently deformed.
                    </p>

                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>What is
                            microfabrication?</h2>
                    </div>

                    <p class="lead" align="left">
                        Microfabrication and micromachining are terms that describe the technologies and processes used
                        in making microscopic structures or devices. These structures can range in size from the width
                        of a human hair down to smaller than a single human cell. The ability to build devices this
                        small has spurred technological advancements in computers, consumer electronics, green energy
                        technology and many other fields. Microfabrication techniques vary widely depending on the
                        device being built.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center pb-0" style="padding-top:0 !important;">


        <!-- ================================================-->
        <!--  Fab Sortable Cards ============================-->

        <div class="container-fluid col-md-8">
            <div class="sortable" data-options='{"layoutMode":packery"}'>
                <br>

                <!-- Subject Filters-->
                <div class="menu mb-3 justify-content-center">
                    <div class="item active" data-filter="*">all</div>
                    <div class="item" id="cit-sort" data-filter=".cadcam">CAD/CAM</div>
                    <div class="item" id="cig-sort" data-filter=".forming">Forming</div>
                    <div class="item" id="staff-sort" data-filter=".microfabrication">Microfabrication</div>
                </div>
                <!-- /Subject Filters-->

                <!-- Card List-->
                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                    <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                         data-zanim-timeline="{}" data-zanim-trigger="scroll">

                        <!--3D-Printing Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 cadcam small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="3dPrinting">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/3D_printing.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">3-D Printing</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/3D-Printing Card-->

                        <!--Soft Lithography Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 microfabrication small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="softLithography">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Soft Lithography</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Soft Lithography Card-->

                        <!--CNC Router Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 cadcam small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="cncRouter">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/cnc.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">CNC Router</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/CNC Router Card-->

                        <!--5-Axis Mill Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 cadcam small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="5axisMill">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/5axis.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">5-axis Mill</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/5-Axis Mill Card-->

                        <!--Laser Engraver Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 cadcam small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="laserEngraver">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/laser.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Laser Engraver</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Laser Engraver Card-->

                        <!--Thermoforming Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 forming small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="thermoforming">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Thermoforming</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Thermoforming Card-->

                        <!--Injection Molding Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 forming small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="injectionMolding">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/injection.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Injection Molding</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Injection Molding Card-->

                        <!--Stereolithography Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 microfabrication small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="stereolithography">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/stereolithography.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Stereolithography</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Stereolithography Card-->

                        <!--Profilometry Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 microfabrication small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="profilometry">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Profilometry</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Profilometry Card-->

                        <!--Microelectrode Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 microfabrication small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="microelectrodes">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Microelectrode</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Microelectrode Card-->

                        <!--Micro-milling Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 microfabrication small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="micromilling">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/technology/micromilling.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Micro-milling</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Micro-milling Card-->

                        <!--Etching Card-->
                        <div class="col-6 col-md-3 sortable-item p-2 microfabrication small"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="hoverdir-item position-relative rounded overflow-hidden "
                                 data-griddercontent="#content1"
                                 data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                                <a class="d-block" data-remodal-target="etching">
                                    <img class="rounded img-fluid w-100"
                                         src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                    <div class="hoverdir-item-content">
                                        <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                            <div class="text-700">
                                                <h3 class="text-white lh-1 fs-2">Etching</h3>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/Etching Card-->

                    </div>
                </div>
            </div>
        </div>

        <!--  End Fab Sortable Cards ========================-->
        <!-- ================================================-->


        <!-- ===============================================-->
        <!--  Fab Technology Modals ========================-->

        <!-- =================================-->
        <!-- 3D Printing Modal ===============-->
        <div class="remodal rounded-soft" data-remodal-id="3dPrinting" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="3dPrintingTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-3dPrinting" data-toggle="tab"
                           href="#pill-tab-background-3dPrinting"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-3dPrinting" data-toggle="tab"
                           href="#pill-tab-process-3dPrinting" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-3dPrinting" data-toggle="tab"
                           href="#pill-tab-products-3dPrinting"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="3dPrintingTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-3dPrinting" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>3D-Printing</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-3dPrinting" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>3D-Printing</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-3dPrinting" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>3D-Printing</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /3D Printing Modal ==============-->
        <!-- =================================-->

        <!-- =================================-->
        <!-- Soft Lithography Modal ==========-->
        <div class="remodal rounded-soft" data-remodal-id="softLithography" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="softLithographyTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-softLithography" data-toggle="tab"
                           href="#pill-tab-background-softLithography"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-softLithography" data-toggle="tab"
                           href="#pill-tab-process-softLithography" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-softLithography" data-toggle="tab"
                           href="#pill-tab-products-softLithography"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="softLithographyTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-softLithography" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Soft Lithography</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-softLithography" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Soft Lithography</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-softLithography" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Soft Lithography</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /Soft Lithography Modal =========-->
        <!-- =================================-->

        <!-- =================================-->
        <!-- CNC Router Modal ================-->
        <div class="remodal rounded-soft" data-remodal-id="cncRouter" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="cncRouterTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-cncRouter" data-toggle="tab"
                           href="#pill-tab-background-cncRouter"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-cncRouter" data-toggle="tab"
                           href="#pill-tab-process-cncRouter" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-cncRouter" data-toggle="tab"
                           href="#pill-tab-products-cncRouter"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="cncRouterTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-cncRouter" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>CNC Router</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-cncRouter" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>CNC Router</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-cncRouter" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>CNC Router</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /CNC Router Modal ===============-->
        <!-- =================================-->

        <!-- =================================-->
        <!-- CNC Router Modal ================-->
        <div class="remodal rounded-soft" data-remodal-id="5axisMill" data-remodal-options="hashTracking: false">
            <button class="remodal-close" data-remodal-action="close" href="#fabrication"></button>

            <div class="component-preview tab-modal">

                <!-- Color Scheme Themed Pill Tabs-->
                <ul class="nav nav-tabs" id="5axisMillTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-tabs alpha active" id="background-tab-5axisMill" data-toggle="tab"
                           href="#pill-tab-background-5axisMill"
                           role="tab" aria-controls="tab-home" aria-selected="true">Background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs beta" id="process-tab-5axisMill" data-toggle="tab"
                           href="#pill-tab-process-5axisMill" role="tab"
                           aria-controls="tab-profile" aria-selected="false">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-tabs product" id="products-tab-5axisMill" data-toggle="tab"
                           href="#pill-tab-products-5axisMill"
                           role="tab" aria-controls="tab-contact" aria-selected="false">Products</a>
                    </li>
                </ul>
                <!-- /Color Scheme Themed Pill Tabs-->

                <!-- Tab Content-->
                <div class="tab-content border-x border-bottom p-3" id="5axisMillTabContent">

                    <div class="tab-pane fade show active" id="pill-tab-background-5axisMill" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>5-Axis Mill</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade " id="pill-tab-process-5axisMill" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>5-Axis Mill</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pill-tab-products-5axisMill" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <div>
                            <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>5-Axis Mill</h2>

                            <p class="mb-0" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod quis viverra nibh
                                cras pulvinar. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Purus in
                                mollis nunc sed id semper. Tellus orci ac auctor augue mauris augue neque. Sed viverra
                                tellus in hac. Faucibus interdum posuere lorem ipsum dolor. Egestas fringilla phasellus
                                faucibus scelerisque eleifend donec pretium vulputate sapien. Cras fermentum odio eu
                                feugiat. In egestas erat imperdiet sed.
                            </p>
                        </div>
                    </div>


                </div>
                <!-- /Tab Content-->

            </div>
        </div>
        <!-- /CNC Router Modal ===============-->
        <!-- =================================-->


        <!--  End Fab Technology Modals ====================-->
        <!-- ===============================================-->



    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>


{{>footer}}
