{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/headers/mobileHeader.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'><br>Mobile Laboratory</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);background-position: center 70%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Additive Manufacturing</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br class="d-block d-md-none"> fullest</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container col-md-6">

            <!--<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col">
                <div class="overflow-hidden" align="left">
                  <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Roots of the AGGRC</h2>
                </div>
              </div>
            </div>-->


            <div class="align-items-center">

                <div class="mb-8" >

                    <p class="mb-0" align="left">Over the past 15 years there have been successful adoptions of equipment and processes used in high-throughput
                        livestock cryopreservation for aquatic species. This equipment can include automated straw packagers and computer-controlled freezers.
                        Automated packagers are able to fill and seal 0.25-mL or 0.5-mL French straws at a rate of as many as ~15,000 per hour depending on
                        the model (e.g., MPP Quattro, www.minitube.com). Programmable freezers are suited to handle the large output of straws from the
                        automated packagers and can automatically control the temperature inside the cooling chamber yielding uniform freezing. Other equipment
                        used during cryopreservation can include spectrophotometers to estimate sperm concentration and flow cytometers to analyze membrane
                        integrity. However, these instruments are delicate, expensive, and not easily transportable.
                        <br><br>
                        Since beginning in 2000, the United States Department of Agriculture (USDA)-Agricultural Research Service (ARS) National Animal
                        Germplasm Program in Fort Collins, Colorado holds 99,683 aquatic species samples in inventory, but those samples only represent
                        48 species of the estimated 33,000 finfish species, with 6 of those 48 species being marine (Animal-GRIN, https://www.ars-grin.gov/).
                        For a germplasm repository to be effective, there must be proper representation of species and lines. Those samples (tens to hundreds
                        of thousands) also need to be of high quality. If on-site cryopreservation is going to be an effective tool for multiple users,
                        a customizable approach needs to be developed for the use of high-throughput and specialized equipment in the field with the
                        same quality control as a central facility.
                    </p>

                </div>

                <div class="container row">

                    <div class="col-md-6">
                        <img class="img-fluid rounded" src="../assets/img/commercial/mobile_content.jpg" alt="" />
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid rounded" src="../assets/img/commercial/mobileLabSketch.jpg" alt="" />
                    </div>

                </div>

            </div>

        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <div class="container col-md-6">

        <!--<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="col">
            <div class="overflow-hidden" align="left">
              <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Facility</h2>
            </div>
          </div>
        </div>-->


        <div class="align-items-center">


            <div class="mb-8" align="left">
                <!--<h5 class="ls-1 mb-3">to the future </h5>-->
                <p class="mb-0">
                    The goal of this project was to develop a self-contained mobile laboratory for on-site high-throughput cryopreservation of aquatic species.
                    The objectives of this study were to: 1) identify how a mobile laboratory would function in different operational scenarios; 2) customize
                    an enclosed cargo trailer to function as a mobile laboratory; 3) evaluate the laboratory layout and ability of cryopreservation equipment
                    to operate from generator power, and 4) document the investment costs for private and public groups to integrate a mobile laboratory
                    into an existing cryopreservation facility at three levels of automation, and estimate the total cost per trip based on hypothetical
                    assumptions for two scenarios (aquaculture production and repository development). There were three operational designs identified
                    for the mobile laboratory: 1) self-contained work inside the unit using generator power; 2) work inside the unit using external
                    facility power, and 3) using the equipment inside of a host facility. The investment costs for a base-level mobile laboratory ranged
                    between US$5,670 and US$5,787 for private groups and between US$5,208 and US$5,315 for public groups. With the addition of a range of
                    automated processing equipment, total investment costs ranged from US$13,616 to US$103,529 for private groups and US$12,494 to US$94,891
                    for public groups. The total cost per trip to cryopreserve sperm of 59 Blue Catfish (Ictalurus furcatus) males to produce 6,300 0.5-mL
                    French straws was estimated to range from US$6,089 to US$14,633 for private and between US$5,703 and US$16,938 for public groups depending
                    on the level of automation. Total cost per trip to cryopreserve sperm of 500 males of 5 different species in the genus Xiphophorus
                    to produce 641 0.25-mL French straws was estimated to range from US$6,653 to US$7,640 for private and US$7,582 to US$8,088 for public
                    groups depending on level of automation. Overall, a commercial-scale mobile laboratory was developed that can assist current germplasm
                    activities and support future repository and industry development, and the layout information provided can help others to design and
                    build comparable units.
                </p>
            </div>

            <!--<div class="col-6">
              <img class="img-fluid" src="../assets/img/illustration/TechProcess_AGGRC-01.png">
            </div>-->
            <!--<div class="container row">

              <div class="col-md-5">
                <img class="img-fluid rounded" src="../assets/img/about/skyview.png" alt="" />
              </div>
              <div class="col-md-7">
                <img class="img-fluid rounded" src="../assets/img/about/main_building_layout.png" alt="" />
              </div>

            </div>-->

        </div>
    </div>

    <br><br><br>

</main>


{{>footer}}
