{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/headers/researchOyster.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'><br>Oyster Hatcheries</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);background-position: center 70%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Additive Manufacturing</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br class="d-block d-md-none"> fullest</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">


        <div class="container col-md-6">

            <!--<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col">
                <div class="overflow-hidden" align="left">
                  <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Roots of the AGGRC</h2>
                </div>
              </div>
            </div>-->


            <div class="align-items-center">

                <div class="align-content-center">
                    <div>
                        <img class="img-fluid rounded" src="../assets/img/communities/oysterSpat1.jpg" alt="" />
                    </div>
                </div>

                <div class="mb-8" >

                    <p class="mb-0" align="left"><br><br><br>Oyster hatcheries are facilities that focus on producing oysters that farmers can grow
                        on their offshore leases. Hatcheries start by spawning broodstock (adult) oysters to create oyster larvae. These
                        larvae remain in a free-swimming, planktonic stage of development for about 2 weeks. At 2 weeks of age, oyster
                        larvae permanently attach (called settling) to a hard substrate, usually a shell or rock, provided by the hatchery.
                        When oyster larvae settle, they are called spat. Hatcheries, which usually contain nurseries as well, raise the
                        spat for several months until they are 8 to 10 mm in size. At this point, spat are called seed and are large
                        enough to be sold to a farmer and "planted" at a farm site off the coast.
                    </p>

                </div>

            </div>

        </div>
        <!-- end of .container-->
        <div class="container col-md-6">


            <div class="align-items-center">

                <img class="img-fluid rounded" align="center" src="../assets/img/communities/oysterLifeCycle.jpg" alt="" />

                <div class="mb-8" align="left">
                    <!--<h5 class="ls-1 mb-3">to the future </h5>-->
                    <p class="mb-0">
                        The life cycle of an oyster. Starting from sperm and eggs and developing into fertilized eggs, then free- swimming larvae,
                        then spat attached to shell, and finally into adults.
                        <a href="https://www.pangeashellfish.com/blog/oyster-life-cycle-on-farm" target="_blank">https://www.pangeashellfish.com/blog/oyster-life-cycle-on-farm</a>
                    </p>
                </div>

            </div>
        </div>

        <div class="container col-md-6">
            <div class="align-items-center">
                <div class="mb-8" align="left">
                    <p class="mb-0">
                        The process of spawning oysters and raising the larvae into seed takes months and is often unpredictable. The AGGRC is dedicated to
                        conducting research that improves oyster hatchery operations. The AGGRC has pioneered techniques to effectively and consistently
                        cryopreserve oyster sperm. Cryopreservation (or freezing) of oyster sperm can indefinitely preserve genetic material. When needed,
                        the genetic material can then be easily distributed to oyster hatcheries for spawning, decreasing the need to keep large quantities
                        of broodstock on hand and allowing those resources to be redirected elsewhere (Paniagua-Chavez & Tiersch 2001). Additionally,
                        the genetic material of many different oyster lines can be stored and accessible to hatcheries. A hatchery can then create
                        breeding programs with these oyster lines that enhance the fitness of their future oyster stock. The AGGRC has also developed
                        nonlethal methods of collecting sperm for cryopreservation, so that valuable individuals do not need to be sacrificed
                        (Yang et al. 2013). In future work, the AGGRC plans to expand their commercial scale genetic repository operations.
                        This work will streamline the process and grant hatchery owners increased access valuable genetic material.
                    </p>
                </div>
            </div>
        </div>

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->

</main>


{{>footer}}
