{{> nav}}

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/headers/MicroscopeGIF.gif);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Research</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> Thinking Through <br
                                            class="d-block d-md-none"> Making</p>
                                </div>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/headers/researchOyster.jpg);background-position: center 70%;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'>Topic</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br
                                            class="d-block d-md-none"> fullest</p>
                                </div>
                                <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
                                    <a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4"
                                       href="../pages/services.html">our services</a></div>
                            </div>
                        </div>
                    </div>
                </li>

                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->

                <!-- <li data-zanim-timeline='{"delay":0.1}'>
                   <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                   </div>
                   &lt;!&ndash;/.bg-holder&ndash;&gt;

                   <div class="header-overlay"></div>
                   <div class="container">
                     <div class="d-flex align-items-center pt-10 pb-8">
                       <div class="header-text">
                         <div class="overflow-hidden">
                           <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                         </div>
                         <div class="overflow-hidden">
                           <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                         </div>
                         <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                       </div>
                     </div>
                   </div>
                 </li>-->
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container">
            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Safeguarding Your Genetic
                            Resources:<br> Basic and Applied Research</h2>
                    </div>
                    <!--<div class="overflow-hidden">
                      <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'></p>
                    </div>
                    <div class="overflow-hidden">
                      <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
                    </div>-->
                </div>
            </div>
            <div class="row align-items-center">
                <!--<div class="col-md-4 text-md-right">
                  <h5 class="ls-1 mb-3">from the past</h5>
                  <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                                  the problems and needs for creation of custom <br class="d-none d-xl-block" />
                                  devices to support repository development<br class="d-none d-xl-block" />
                                  in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                                  and equipment specifically designed <br class="d-none d-sm-block" />
                    for use with fish and shellfish has<br class="d-none d-sm-block" />
                     forced researchers and other  <br class="d-none d-sm-block" />
                    user groups to modify and  <br class="d-none d-sm-block" />
                     adapt devices that were   <br class="d-none d-sm-block" />
                     developed  for livestock <br class="d-none d-sm-block" />
                    and humans. </p>
                </div>
                <div class="col-md-4 px-lg-4 my-4 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AdobeStock_90161302.jpeg" alt="" /></div>-->
                <div class="col-md-12" align="left">
                    <!--<h5 class="ls-1 mb-3">to the future </h5>-->
                    <p class="mb-0">Research is at the core of our identity and is being actively combined with the
                        centers
                        mission of technology development and innovation. In 2015 a new program was initiated called the
                        Aquatic
                        Germplasm and Genetic Resources Center (AGGRC). The AGGRC was initiated to provide global
                        leadership in
                        repository development and commercialization of genetic resources of aquatic species. The
                        facility has
                        23,000 ft2 of space dedicated to research, teaching, outreach, administrative, and
                        commercial-scale
                        service activities for aquatic species. The AGGRC is being developed as a multidisciplinary
                        innovation
                        and technology development center in which ideas can be rapidly moved from prototypes through
                        alpha and
                        beta testing to sample products ready for commercialization. The AGGRC has currently established
                        a strong
                        Core Innovation Team (CIT) with faculty from 8 LSU departments. The CIT faculty have more than
                        20
                        projects among them, involving 25 undergraduate, MS, and PhD students.
                    </p>
                </div>

            </div>

        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="prototyping">

       <div class="container">
         <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
           <div class="col">
             <div class="overflow-hidden">
               <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Prototyping and Testing Process</h2>
             </div>
             <div class="overflow-hidden">
               <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
             </div>
             <div class="overflow-hidden">
               <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
             </div>
           </div>
         </div>
         <div class="row align-items-center">
           &lt;!&ndash;<div class="col-md-4 text-md-right">
             <h5 class="ls-1 mb-3">from the past</h5>
             <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                             the problems and needs for creation of custom <br class="d-none d-xl-block" />
                             devices to support repository development<br class="d-none d-xl-block" />
                             in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                             and equipment specifically designed <br class="d-none d-sm-block" />
               for use with fish and shellfish has<br class="d-none d-sm-block" />
                forced researchers and other  <br class="d-none d-sm-block" />
               user groups to modify and  <br class="d-none d-sm-block" />
                adapt devices that were   <br class="d-none d-sm-block" />
                developed  for livestock <br class="d-none d-sm-block" />
               and humans. </p>
           </div>&ndash;&gt;
           &lt;!&ndash;<div class="col-md-12 px-lg-12 my-12 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AGGRC_testing_process.png" alt="" /></div>
&ndash;&gt;           &lt;!&ndash; <div class="col-md-12 ">
             &lt;!&ndash;<h5 class="ls-1 mb-3">to the future </h5>&ndash;&gt;
             <p class="mb-0">Historically, innovation has not been translatable to
               the problems and needs for creation of custom
               devices to support repository development
               in aquatic species.  This lack of devices
               and equipment specifically designed
               for use with fish and shellfish has
               forced researchers and other
               user groups to modify and
               adapt devices that were
               developed  for livestock

               and humans.
               This decades-long impediment has been removed by recent technological
               advances that provide powerful newfabrication methods, such as soft lithography
               (microfabrication) and additive manufacturing (3-dimensional printing). We utilize
               these as core capabilities to rapidly translate innovation, in the form of custom design
               ideas, into reality through our technology development process.
             </p>
           </div>&ndash;&gt;

         </div>

       </div>
       &lt;!&ndash; end of .container&ndash;&gt;

     </section>-->
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="fabrication">

        <div class=" hoverbox rounded text-center"
             style="background-image:url(../assets/img/headers/researchOyster.jpg);-webkit-background-size: cover;">
            <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
                 alt="">
            <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
                <div>
                    <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Improving
                        Oyster Hatchery Operation </h2>
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                    <a class="btn btn-light btn-sm mt-1" href="#!">Learn more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br><br>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="microfabrication">

        <div class=" hoverbox rounded text-center"
             style="background-image:url(../assets/img/headers/researchMicroAlgae.jpg);-webkit-background-size: cover;">
            <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
                 alt="">
            <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
                <div>
                    <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Topic</h2>
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                        ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                    <a class="btn btn-light btn-sm mt-1" href="#!">Learn more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br><br>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--<section  class="py-0 overflow-hidden" id="electrocryobiology">

      <div class=" hoverbox rounded text-center" style="background-image:url(../assets/img/technology/vial_freezing_full_width.jpg);-webkit-background-size: cover;">
        <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg" alt="">
        <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
          <div>
            <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h2>
            <p class="lead text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
              duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
            <a class="btn btn-light btn-sm mt-1" href="#!">Learn more</a>
          </div>
        </div>
      </div>
    </section>-->
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <br><br><br>

    <div class="container">

        <!--<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="col">
            <div class="overflow-hidden">
              <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Powerful Fabrication Methods</h2>
            </div>
            <div class="overflow-hidden">
              <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
            </div>
            <div class="overflow-hidden">
              <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
            </div>
          </div>
        </div>-->
        <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col">
                <div class="overflow-hidden" align="left">
                    <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Featured Research</h2>
                </div>
            </div>
        </div>


        <div class="row align-items-center">

            <!-- <div class="col-md-4 text-md-right">
               <h5 class="ls-1 mb-3">from the past</h5>
               <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                               the problems and needs for creation of custom <br class="d-none d-xl-block" />
                               devices to support repository development<br class="d-none d-xl-block" />
                               in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                               and equipment specifically designed <br class="d-none d-sm-block" />
                 for use with fish and shellfish has<br class="d-none d-sm-block" />
                  forced researchers and other  <br class="d-none d-sm-block" />
                 user groups to modify and  <br class="d-none d-sm-block" />
                  adapt devices that were   <br class="d-none d-sm-block" />
                  developed  for livestock <br class="d-none d-sm-block" />
                 and humans. </p>
             </div>
             <div class="col-md-4 px-lg-4 my-4 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AdobeStock_90161302.jpeg" alt="" /></div>-->

            <div class="col-8" align="left">
                <!--<h5 class="ls-1 mb-3">to the future </h5>-->
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                </p>
            </div>

            <!--<div class="col-6">
              <img class="img-fluid" src="../assets/img/illustration/TechProcess_AGGRC-01.png">
            </div>-->

        </div>

        <br><br><br>

        <div class="sortable" data-options='{"layoutMode":"packery"}'>
            <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                 data-zanim-timeline="{}" data-zanim-trigger="scroll">


                <div class="col-6 col-md-8 sortable-item p-2 commercial small"
                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                         data-griddercontent="#content1"
                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" data-remodal-target="modal">
                            <img class="rounded img-fluid w-100" src="../assets/img/technology/microfabrication1.jpg"
                                 alt=""/>
                            <div class="hoverdir-item-content">
                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                    <div class="text-700">
                                        <h3 class="text-white lh-1 fs-2">Microfabrication</h3>
                                        <p class="lead">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-4 sortable-item p-2 technology small"
                     data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                    <div class="hoverdir-item position-relative rounded overflow-hidden "
                         data-griddercontent="#content1"
                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" href="technology.html">
                            <img class="rounded img-fluid w-100" src="../assets/img/technology/3dprinting1.jpg" alt=""/>
                            <div class="hoverdir-item-content">
                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                    <div class="text-700">
                                        <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                        <p class="lead">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-8 sortable-item p-2 research medium"
                     data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                    <div class="hoverdir-item position-relative rounded overflow-hidden"
                         data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                        <a class="d-block" href="../pages/research.html">
                            <img class="rounded img-fluid w-100" src="../assets/img/technology/electrocryobiology1.jpg"
                                 alt=""
                                 data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                            <div class="hoverdir-item-content">
                                <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                    <div class="text-700">
                                        <h3 class="text-white lh-1 fs-2">Electrocryobiology</h3>
                                        <p class="lead">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </div>


    <br><br><br>


</main>
{{>footer}}
