{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/headers/aboutHeader.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'><br>About</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);background-position: center 70%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Additive Manufacturing</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br class="d-block d-md-none"> fullest</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

        <div class="container col-md-6">

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Roots of the AGGRC</h2>
                    </div>
                </div>
            </div>


            <div class="align-items-center">

                <div class="mb-8" >

                    <p class="mb-0" align="left">In 2014, we began with a mission to create an Aquatic Germplasm and Genetic Resources Center (AGGRC).This new
                        Center would represent the confluence of work done in the LSUAC Aquaculture Research Station and the LSU Dairy Improvement Center which
                        was part of the Dairy Sciences Program. The AGGRC was initiated to provide global leadership in repository development and
                        commercialization of genetic resources of aquatic species. The facility has 23,000 ft2 of space dedicated to research,
                        teaching, outreach, administrative, and commercial-scale service activities for aquatic species. The AGGRC is being developed
                        as a multidisciplinary innovation and technology development center in which ideas can be rapidly moved from prototypes through
                        alpha and beta testing to sample products ready for commercialization. The AGGRC has currently established a strong Core
                        Innovation Team (CIT) with faculty from 8 LSU departments. The CIT faculty have more than 20 projects among them, involving 25
                        undergraduate, MS, and PhD students.
                    </p>

                </div>

                <img class="img-fluid rounded" src="../assets/img/about/test_tube_calf.jpg" alt="" />

            </div>

        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <div class="container col-md-6">

        <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col">
                <div class="overflow-hidden" align="left">
                    <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Facility</h2>
                </div>
            </div>
        </div>


        <div class="align-items-center">


            <div class="mb-8" align="left">
                <!--<h5 class="ls-1 mb-3">to the future </h5>-->
                <p class="mb-0">
                    The AGGRC occupies ~3 acres next to the Mississippi River and adjacent to the LSU main campus in Baton Rouge. This location
                    facilitates travel and interdisciplinary collaboration for faculty and students. It encompasses 23,000 ft2 on the main
                    foundation and has three additional outbuildings for storage and other uses. It is the site of the former LSU Dairy Improvement
                    Center. AGGRC development has involved continuous alteration and renovation since 2015 to repurpose the facility from
                    livestock to aquatic species.
                    <br><br>
                    The AGGRC Main Building occupies more than 11,000 ft2 and has 16 3-D printers in 5 rooms including a design maker space
                    (A), a custom fabrication room (B) and a rapid prototyping area (C). For animal holding there is a biomedical (NIH) fish
                    room (D), a general wet laboratory (E) and a quarantine room (F). A fully equipped electrical engineering laboratory
                    (G) receives intensive daily use. The former barns located on the building foundation (blue shading) have been converted
                    to storage space and animal holding areas. Currently a barn is being repurposed for creation of the Advanced Fabrication
                    Laboratory which will share a roof with the former Bull Semen Collection Arena.

                </p>
            </div>

            <!--<div class="col-6">
              <img class="img-fluid" src="../assets/img/illustration/TechProcess_AGGRC-01.png">
            </div>-->
            <div class="container row">

                <div class="col-md-5">
                    <img class="img-fluid rounded" src="../assets/img/about/skyview.png" alt="" />
                </div>
                <div class="col-md-7">
                    <img class="img-fluid rounded" src="../assets/img/about/main_building_layout.png" alt="" />
                </div>

            </div>
        </div>
    </div>

    <br><br><br>

</main>


{{>footer}}
