{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->
    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/technology/strategies_header.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'><br>Strategies for <br>Technology
                                        Development</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="community-level">

        <div class="container">

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Community-Level
                            standardization</h2>
                    </div>
                </div>
            </div>


            <div class="row align-items-center">

                <div class="col-12">

                    <p class="lead mb-0" align="left">With respect to cryopreservation of genetic resources of aquatic
                        species,
                        as indicated above, research activity is restricted to producing data for publication.
                        Small-scale
                        application can produce working material (samples) with low-to-medium throughput, typically
                        without
                        quality assessment. Commercial activities would produce products, potentially numbering in the
                        millions,
                        with high levels of quality management (QM). These are qualitatively different levels of
                        activity:
                        research does not equal application, nor does it necessarily lead to it. Transition across these
                        levels requires innovation for the establishment of new capabilities. However, there is no
                        direct route
                        from innovation to standardization, especially when dealing with modification-oriented research
                        communities. The model we are proposing to lead to standardization recognizes that any
                        innovation
                        (e.g., technology, device, or protocol) introduced to research communities will be subject to a
                        variety of diversification activities (divergence). As user communities begin to adopt and apply
                        the new technology there will be a convergence on the most useful forms (convergence) enabling
                        standardization to emerge

                    </p>
                </div>


            </div>


            <div>

                <img class="img-fluid " style=" max-width: 75%; padding-top: 30px; padding-bottom: 30px;"
                     src="../assets/img/technology/tech_strategies.jpg"
                     alt="">


            </div>

            <div class="row align-items-center">

                <div class="col-12">

                    <p class="lead mb-0" align="left">Thus innovation is an individual-level activity, divergence and
                        convergence
                        are user-community mediated, and standardization can emerge through the actions of individuals
                        (perhaps
                        in the private sector by providing products) or by groups with recognized leadership roles, such
                        as stock centers, within user communities. The main point is that standardization cannot be
                        produced
                        by innovation alone.

                    </p>
                </div>


            </div>


            <!-- end of .container-->
        </div>
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="capability-level">

        <div class="container">

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Technology development
                            pathway 1:<br>Capability Level</h2>
                    </div>
                </div>
            </div>


            <div class="row align-items-center">

                <div class="col-6">

                    <p class="lead mb-0" align="left">In this pathway, technologies are developed based on the levels of
                        capabilities from simplest devices to complicated devices. For example, the level-1 technology
                        can be simply 3-D printed assembly that can function without any electrical and automatic
                        elements.
                        But to have more functions and capabilities, complicated elements such as sensingand automation
                        are necessary. As the capability levels goes higher, the device grain more capability and
                        complicity,
                        and more expertise and resources are required to achieve such development. In the AGGRC,
                        interdisciplinary
                        collaborations are formed to address such challenges.

                    </p>
                </div>
            </div>

            <!-- end of .container-->
        </div>

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="capability-level">

        <div class="container">

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Technology development
                            pathway 2:<br>Repository Development Process</h2>
                    </div>
                </div>
            </div>


            <div class="row align-items-center">

                <div class="col-6">

                    <p class="lead mb-0" align="left">It is very important to realize that development of germplasm
                        repositories does not equal to cryopreservation. There are many critical steps within the
                        process that are as important as cryopreservation (or freezing), such as sperm quality
                        evaluation, equilibration, and sample packing. As such, open-source technologies are need in
                        each step to help standardize the whole process.

                    </p>
                </div>
            </div>


            <!-- end of .container-->
        </div>


    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="capability-level">

        <div class="container">

            <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col">
                    <div class="overflow-hidden" align="left">
                        <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Inter-disciplinary
                            Collaboration</h2>
                    </div>
                </div>
            </div>


            <div class="row align-items-center">

                <div class="col-12">

                    <p class="lead mb-0" align="left">The AGGRC was developed as an interdisciplinary workspace
                        dedicated to supporting the long-term interactions of individuals spanning fields such as
                        reproductive biology, cryobiology, aquaculture, repository science, veterinary science,
                        economics, computer sciences, biological engineering, mechanical engineering, industrial
                        engineering, electrical engineering, business and marketing, and evolutionary biology. This
                        involves integration of research and technology development and is manifested in core
                        fabrication technologies such as 3-dimensional printing and microfabrication. Ultimately, this
                        goal requires establishment and maintenance of an interdisciplinary culture involving routine
                        interactions and constant creation of new ideas and approaches. It is characterized by rapid
                        change mediated by bringing new people into the group to introduce new capabilities. Individuals
                        must possess certain personality traits including humility, strong communication skills,
                        courage, and creativity to work in such an environment given that much of what transpires is
                        outside of your training and expertise. An interdisciplinary community such as this must also
                        develop a kind of “trade language” (i.e., “Lingua Franca”) to ensure that concepts can be
                        readily exchanged across disciplines. These types of interactions require years to become firmly
                        established, but once established can be readily absorbed by new members such as undergraduates.

                    </p>
                </div>


            </div>


            <div>

                <img class="img-fluid " style=" max-width: 75%; padding-top: 30px; padding-bottom: 30px;"
                     src="../assets/img/technology/tech_strategies.jpg"
                     alt="">


            </div>

            <div class="row align-items-center">

                <div class="col-12">

                    <p class="lead mb-0" align="left">
                        One of the major challenges in today’s research environment is to overcome the expanding
                        differentiation and specialization towards a single field of study (or research model, or
                        commodity group). This has caused detrimental effects by slowing the pace of discoveries and our
                        ability to find cures for human and animal diseases. It also greatly diminishes our ability to
                        bring research into real-world application. When focus is placed on a single or specific area it
                        diminishes the ability to think broadly, limits options, and can result in an overall narrow
                        mindset. On the other hand, researchers and technologists working together through
                        interdisciplinary programs can provide other dimensions to problem solving. This allows
                        interaction and integration of different mindsets and methodologies, and provides unique
                        opportunities to share in new thinking processes.
                        <br><br>
                        The progression of collaboration from mono-disciplinary to multidisciplinary to
                        interdisciplinary can be viewed as having the qualities of hierarchical arrangement. The
                        fundamental collaborative skills will apply at all levels, but as with all hierarchies, movement
                        to higher levels require qualitative change: things must be done differently, not just more
                        rapidly or more frequently. Different skills become necessary as we aspire to work outside the
                        fields in which we received our formal training. Unlike multidisciplinary work where individuals
                        representing different fields come together often as a team, interdisciplinary work involves
                        individuals that have developed the capacity to understand and interact with individuals from
                        other fields in a synthetic way, blending their capabilities into new identities. This means
                        that people can remain solely as an expert in their own field for multidisciplinary
                        interactions, but they must broaden their thinking and approach for interdisciplinary work.

                    </p>
                </div>


            </div>

            <!-- end of .container-->
        </div>

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section>
        <div class="container">

        </div>

    </section>


    <br><br><br>

</main>


{{>footer}}
