{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->


    <section class="py-0 overflow-hidden" id="top">
        <div class="flexslider border-0 overflow-hidden rounded-0">
            <ul class="slides">
                <li data-zanim-timeline='{"delay":0.1}'>
                    <div class="bg-holder overlay_header parallax"
                         style="background-image:url(../assets/img/home/headers/student_header.jpg);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="header-overlay"></div>
                    <div class="container">
                        <div class="d-flex align-items-center pt-10 pb-8">
                            <div class="header-text">
                                <div class="overflow-hidden">
                                    <h1 class="display-3 text-white fs-5 fs-md-7"
                                        data-zanim-xs='{"duration":2,"delay":0}'><br>Students</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="text-uppercase text-400 ls-2 mt-2"
                                       data-zanim-xs='{"duration":2,"delay":0.1}'><br class="d-block d-md-none"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);background-position: center 70%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Additive Manufacturing</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'> that's how we live life <br class="d-block d-md-none"> fullest</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/blue_glassware_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Electrocryobiology</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li data-zanim-timeline='{"delay":0.1}'>
                  <div class="bg-holder overlay_header parallax" style="background-image:url(../assets/img/technology/zebrafish_tanks_full_width.jpg);background-position: center 35%;">
                  </div>
                  &lt;!&ndash;/.bg-holder&ndash;&gt;

                  <div class="header-overlay"></div>
                  <div class="container">
                    <div class="d-flex align-items-center pt-10 pb-8">
                      <div class="header-text">
                        <div class="overflow-hidden">
                          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Soft Lithography</h1>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>Take action and be a <br class="d-block d-md-none"> part of it</p>
                        </div>
                        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html">our services</a></div>
                      </div>
                    </div>
                  </div>
                </li>-->
            </ul>
        </div>
    </section>


    <!-- ============================================-->
    <!-- Sarah B Card ===============================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="sarah">


        <div class="container">

            <div class="row">
                <div class="col-4">

                    <!--Square Picture-->
                    <img class="img-fluid rounded" src="../assets/img/people/peopleSquares/sarah_square400.jpg" alt=""/>

                </div>
                <div class="col-8">

                    <!--Student Name-->
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Sarah
                        Bodenstein</h3>

                    <!--Student Major/School-->
                    <h5 class="" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">LSU SCHOOL OF RENEWABLE NATURAL
                        RESOURCES
                    </h5>

                    <!--Student Bio-->
                    <p class="mb-0" align="left">Sarah Bodenstein is originally from Chicago. She received her
                        Bachelor’s degree in Marine Science and Biology from the University of Miami, and her Master’s
                        degree in Oyster Aquaculture from Auburn University. Currently, she is a Ph.D. student at LSU in
                        the Agriculture Germplasm and Genetic Resources Center with Drs. Tiersch and La Peyre. Sarah’s
                        research will focus on creating a commercial scale genetic repository for oysters and exploring
                        the physiology of different lines of oysters.
                    </p>
                </div>
            </div>

        </div>

        <!-- end of .container-->

    </section>
    <!-- End Sarah B Card ===========================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- Amit S Card =================================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="amit">


        <div class="container">

            <div class="row">

                <div class="col-8">

                    <!--Student Name-->
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Amit Sharma
                    </h3>

                    <!--Student Major/School-->
                    <h5 class="" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">LSU SCHOOL OF VETERINARY MEDICINE

                    </h5>

                    <!--Student Bio-->
                    <p class="mb-0" align="left">About
                    </p>

                </div>
                <div class="col-4">

                    <!--Square Picture-->
                    <img class="img-fluid rounded" src="../assets/img/people/peopleSquares/amit_square.jpg" alt=""/>

                </div>
            </div>
        </div>

        <!-- end of .container-->

    </section>
    <!-- End Amit S Card =============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- Nik Z Card =================================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="nik">


        <div class="container">

            <div class="row">

                <div class="col-4">

                    <!--Square Picture-->
                    <img class="img-fluid rounded" src="../assets/img/people/peopleSquares/nikzuchowicz_square400.png" alt=""/>

                </div>

                <div class="col-8">

                    <!--Student Name-->
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Nik Zuchowicz</h3>

                    <!--Student Major/School-->
                    <h5 class="" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">LSU SCHOOL OF RENEWABLE NATURAL
                        RESOURCES
                    </h5>

                    <!--Student Bio-->
                    <p class="mb-0" align="left">Nik Zuchowicz is an MS student with Dr. Tiersch's lab. His
                        research background is in conservation cryobiology, quantitative microscopy, osmotic modeling,
                        computer-assisted sperm analysis, and scientific diving. As a technician for Dr. Mary Hagedorn
                        of the Smithsonian Conservation Biology Institute, he developed 3D-printed devices for the
                        freezing and vitrification of biological samples. He aided Dr. Jon Daly in the first successful
                        laser warming of vitrified coral larvae, a result that holds promise for the long-term
                        conservation of coral reefs in an era of embattled ecosystems.
                        <br><br>
                        He joined the Tiersch lab to take advantage of its interdisciplinary, flexible approach to
                        cryopreservation device design and deployment. The active collaboration between Renewable
                        Natural Resources and Biological Engineering is an ideal environment in which to learn a broad
                        collection of related skills, such as microfluidics chip fabrication, heat transfer modeling,
                        and novel sperm analysis techniques.
                        <br><br>
                        Nik’s current research interests include standardizing and scaling up cryopreservation
                        protocols, designing new 3D-printable field freezing tools, and tackling practical problems in
                        the use of cryoprotective chemicals.
                    </p>

                </div>

            </div>
        </div>

        <!-- end of .container-->

    </section>
    <!-- End Nik Z Card =============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- Dean Compton Card ==========================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="dean">

        <div class="container">
            <div class="row">
                <div class="col-4">

                    <!--Square Picture-->
                    <img class="img-fluid rounded" id="anchor" src="../assets/img/people/peopleSquares/dean_square.jpg" alt=""/>

                </div>
                <div class="col-8">

                    <!--Student Name-->
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Dean Compton</h3>

                    <!--Student Major/School-->
                    <h5 class="" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Computer Science</h5>

                    <!--Student Bio-->
                    <p class="mb-0" align="left">Dean is a sophomore computer science student from St. Amant,
                        Louisiana. His current concentration is Software Engineering. This is his second
                        year working with the AGGRC. His job mainly consists of website development and design. He is an
                        avid supporter of LSU sports and
                        attends events regularly. He enjoys playing tennis and football, and he plans to join intramural
                        leagues.
                    </p>

                </div>
            </div>

        </div>

    </section>
    <!-- End Dean Compton Card ======================-->
    <!-- ============================================-->





    <!-- ============================================-->
    <!-- <section> begin Student 4 ==================-->
    <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">


        <div class="container">

            <div class="row">

                <div class="col-8">
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Student #4</h3>
                    <br>

                    <p class="mb-0" align="left"><br><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor
                        invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet
                    </p>
                </div>
                <div class="col-4">
                    <img class="img-fluid rounded" src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                </div>

            </div>

        </div>

        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <br><br><br>

</main>


{{>footer}}
