{{> nav}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->


<!-- ============================================-->
<!-- Preloader ==================================-->
<div class="preloader" id="preloader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-white-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================-->
<!-- End of Preloader ===========================-->

<section class="py-0 overflow-hidden" id="techtop">

    <div class="bg-holder overlay_header rounded">
        <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted">
            <source src="../assets/img/technology/aggrc-tech-banner-v2.m4v " type="video/mp4">
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="container">
        <div class="d-flex align-items-center pt-10 pb-8">
            <div class="header-text">
                <div class="overflow-hidden">
                    <h1 class="display-3 text-white fs-5 fs-md-7"
                        data-zanim-xs='{"duration":2,"delay":0}'>Technology</h1>
                </div>
                <div class="overflow-hidden">
                    <p class="text-uppercase text-400 ls-2 mt-2"
                       data-zanim-xs='{"duration":2,"delay":0.1}'> Making Ideas <br
                            class="d-block d-md-none"> Real</p>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>

</section>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

    <div class="container">


        <div class="col-12">
            <blockquote class="fs-5 text-900 font-italic font-weight-light">
                <br>
                <p><i>Open source technology development will be a game changer for genetic resources by empowering
                    entire
                    user communities to establish their own repositories.</i></p>
                <br>
                <!--<br>
                <p><i>"Custom development of devices and equipment specifically for use with fish and shellfish is essential for
                    development of germplasm repositories worldwide."</i></p>
                <br>
                <br>

                <p><i>" The lack of devices and equipment
                    specifically designed for use with fish and shellfish has forced researchers and other user
                    groups
                    to modify and adapt devices that were developed for livestock and humans and essential prevented development of germplasm repositories."</i></p>
                <br>-->
            </blockquote>
        </div>

        <div class="row align-items-center">


            <div class="col-12">
                <p class="lead" align="left">Technology is useless unless you get it into the hands of the people who
                    need it.
                    The open-source concept is based on making things simple dependable and cheap and beyond that
                    standardizable.
                    That's why the AGGRC has assembled a powerful and flexible suite of design and manufacturing
                    capabilities to support the needs of aquatic species communities
                    to protect genetic resources.
                </p>
                <p class="lead" align="left">Every year society invest hundreds of millions of dollars to developing
                    genetic resources that currently cannot be protected
                    except by holding them as live animals. This means every year potential cures for disease are lost,
                    endangered species disappear and opportunities for new markets never develop.
                </p>

                <p class="lead" align="left">The AGGRC has been built from the ground up to address problems and create
                    opportunities through
                    inter-disciplinary focus on repository needs for aquatic species. Engineers, biologist, designers,
                    and educators work together to create solutions
                    for groups of any size bridging medicine, aquaculture, wild and imperiled species. All of the many
                    people and disciplines involved
                    combine into a production pathway with 5 levels of testing
                    designed to produce user-ready solutions.

                </p>


            </div>
        </div>
    </div>
</section>
<section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">

    <div class="container">

        <img class="img-fluid"
             src="../assets/img/technology/techprocess_tech-02.jpg">

    </div>

</section>


<!--<div class="overflow-hidden">
  <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
</div>-->


<!-- end of .container-->


<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<!-- <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="prototyping">

   <div class="container">
     <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
       <div class="col">
         <div class="overflow-hidden">
           <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Prototyping and Testing Process</h2>
         </div>
         <div class="overflow-hidden">
           <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
         </div>
         <div class="overflow-hidden">
           <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
         </div>
       </div>
     </div>
     <div class="row align-items-center">
       &lt;!&ndash;<div class="col-md-4 text-md-right">
         <h5 class="ls-1 mb-3">from the past</h5>
         <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                         the problems and needs for creation of custom <br class="d-none d-xl-block" />
                         devices to support repository development<br class="d-none d-xl-block" />
                         in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                         and equipment specifically designed <br class="d-none d-sm-block" />
           for use with fish and shellfish has<br class="d-none d-sm-block" />
            forced researchers and other  <br class="d-none d-sm-block" />
           user groups to modify and  <br class="d-none d-sm-block" />
            adapt devices that were   <br class="d-none d-sm-block" />
            developed  for livestock <br class="d-none d-sm-block" />
           and humans. </p>
       </div>&ndash;&gt;
       &lt;!&ndash;<div class="col-md-12 px-lg-12 my-12 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AGGRC_testing_process.png" alt="" /></div>
&ndash;&gt;           &lt;!&ndash; <div class="col-md-12 ">
         &lt;!&ndash;<h5 class="ls-1 mb-3">to the future </h5>&ndash;&gt;
         <p class="mb-0">Historically, innovation has not been translatable to
           the problems and needs for creation of custom
           devices to support repository development
           in aquatic species.  This lack of devices
           and equipment specifically designed
           for use with fish and shellfish has
           forced researchers and other
           user groups to modify and
           adapt devices that were
           developed  for livestock

           and humans.
           This decades-long impediment has been removed by recent technological
           advances that provide powerful newfabrication methods, such as soft lithography
           (microfabrication) and additive manufacturing (3-dimensional printing). We utilize
           these as core capabilities to rapidly translate innovation, in the form of custom design
           ideas, into reality through our technology development process.
         </p>
       </div>&ndash;&gt;

     </div>

   </div>
   &lt;!&ndash; end of .container&ndash;&gt;

 </section>-->
<!-- <section> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0 overflow-hidden" id="techStrat">

    <div class=" hoverbox rounded text-center"
         style="background-image:url(../assets/img/technology/tech_banner_strategy.jpg);-webkit-background-size: cover;">
        <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/tech_banner_strategy.jpg"
             alt="">
        <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
            <div class="container">
                <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">

                    <div>
                        <h2 class="display-3 text-white " data-zanim-xs='{"duration":2,"delay":0}'>
                            Strategies for Technology Development</h2>
                        <p class="lead text-white text-left">Our technology development pathway at the AGGRC is
                            designed
                            to rapidly move
                            from
                            ideas to products.
                            Our approach is based on strong interdisciplinary collaboration, matching the right
                            expertise when needed
                            spanning multiple
                            disciplines.

                            This process is extremely flexible and can accommodate a wide range of devices and
                            applications.

                            Most importantly all of this can be custom designed for use with aquatic species or to
                            address
                            existing markets including mammals. </p>
                        <a class="btn btn-light btn-sm mt-1" href="#strategies">Learn more</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<br><br><br>
<section class="py-0 overflow-hidden" id="fabrication">

    <div class=" hoverbox rounded text-center"
         style="background-image:url(../assets/img/technology/3D_printing_full_width.jpg);-webkit-background-size: cover;">
        <img class="img-fluid " style="opacity: 0; " src="../assets/img/technology/3D_printing_full_width.jpg"
             alt="">
        <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
            <div class="container">
                <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="col">
                        <div>
                            <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                                Alpha
                                Testing</h2>
                            <p class="lead text-white text-left">Alpha testing can also be understood as ‘in-house’
                                testing’. The
                                Alpha
                                Testing of prototypes is usually conducted by the prototype developers internally.
                                At the alpha testing stage, the prototypes are initially fabricated as testing
                                samples
                                and
                                could have substantial flaws. During the testing , these flaws are identified
                                evaluated,
                                and
                                design changes are made to address the problems.
                                Alpha testing can go through many iterations and the designs of alpha prototypes can
                                go
                                through substantial changes. Once the alpha prototypes can perform as envisioned, it
                                moves
                                to the beta testing stage.</p>
                            <a class="btn btn-light btn-sm mt-1" href="#alphaTesting">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<br><br><br>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0 overflow-hidden" id="microfabrication">

    <div class=" hoverbox rounded text-center"
         style="background-image:url(../assets/img/headers/testshot_banner.jpg);-webkit-background-size: cover;">
        <img class="img-fluid " style="opacity: 0; " src="../assets/img/headers/testshot_banner.jpg" alt="">
        <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
            <div class="container">
                <div>
                    <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>Beta
                        Testing</h2>
                    <p class="lead text-white text-left">Beta testing is the process after completion of alpha
                        testing.
                        Prototypes in beta testing are much closer to the final solution than alpha prototypes. Beta
                        testing prototypes are not tested within the developer’s institute any more. Instead, they
                        are
                        usually
                        tested by the prospective consumers as well as general public.</p>
                    <a class="btn btn-light btn-sm mt-1" href="#betaTesting">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<br><br><br>

<!-- ============================================-->
<!-- <section> begin Student 1 ==================-->
<section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="fab">


    <div class="container">
        <div class="row mb-4" data-zanim-timeline="{}">
            <div class="col">
                <div class="overflow-hidden" align="left">
                    <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Things we do</h2>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-4">
                <img class="img-fluid rounded" href="#cadCam" src="../assets/img/people/blank4x3.jpg" alt=""/>
            </div>
            <div class="col-8">
                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">CAD/CAM</h3>

                <p class="mb-0" align="left"><br><br>CAD-CAM technology is the culmination of decades of contributions
                    by many in the name of manufacturing automation. It is the vision of innovators and inventors,
                    mathematicians and machinists alike, all striving to shape the future and drive manufacturing with
                    technology. The term “CAD-CAM” is generally used to describe the software that is used for design
                    and machining or manufacturing with a CNC Machine. CAD is an acronym for Computer Aided Design and
                    CAM is an acronym for Computer Aided Manufacturing. CAD software is used to create things by
                    designing and drawing, using geometric shapes to construct a model. However, not all manufactured
                    parts have to be designed as a solid 3D model.
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Forming</h3>

                <p class="mb-0" align="left"><br><br>Forming, metal forming, is the metalworking process of fashioning
                    metal parts and objects
                    through mechanical deformation; the workpiece is reshaped without adding or removing material,
                    and its mass remains unchanged.[1] Forming operates on the materials science principle of
                    plastic deformation, where the physical shape of a material is permanently deformed.
                </p>
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="../assets/img/people/blank4x3.jpg"
                     alt=""/>
            </div>
        </div>
    </div>

<br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid rounded" src="../assets/img/people/blank4x3.jpg" alt=""/>
            </div>
            <div class="col-8">
                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Microfabrication</h3>

                <p class="mb-0" align="left"><br><br>Microfabrication and micromachining are terms that describe the
                    technologies and processes used
                    in making microscopic structures or devices. These structures can range in size from the width
                    of a human hair down to smaller than a single human cell. The ability to build devices this
                    small has spurred technological advancements in computers, consumer electronics, green energy
                    technology and many other fields. Microfabrication techniques vary widely depending on the
                    device being built.
            </div>
        </div>
    </div>

<br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}' align="left">Electrocryobiology</h3>

                <p class="mb-0" align="left"><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue neque gravida in fermentum et
                    sollicitudin. Malesuada proin libero nunc consequat interdum. Quam nulla porttitor massa id
                    neque.
                    Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Habitant morbi
                    tristique
                    senectus et netus et malesuada. Accumsan tortor posuere ac ut. Et netus et malesuada fames ac
                    turpis
                    egestas integer eget. Elit sed vulputate mi sit. Vitae tortor condimentum lacinia quis vel.
                    Auctor
                    elit sed vulputate mi. Quam id leo in vitae turpis massa sed. Sit amet dictum sit amet justo
                    donec
                    enim diam. Nunc non blandit massa enim nec dui nunc mattis. Arcu odio ut sem nulla pharetra.
                    Vestibulum lorem sed risus ultricies.
                </p>
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="../assets/img/people/blank4x3.jpg"
                     alt=""/>
            </div>
        </div>
    </div>


    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!--

&lt;!&ndash; ============================================&ndash;&gt;
&lt;!&ndash; <section> begin ============================&ndash;&gt;
<section class="py-0 overflow-hidden" id="electrocryobiology">

    <div class=" hoverbox rounded text-center"
         style="background-image:url(../assets/img/headers/tech_banner3.jpg);-webkit-background-size: cover;">
        <img class="img-fluid " style="opacity: 0; " src="../assets/img/headers/tech_banner3.jpg" alt="">
        <div class="hoverbox-content-opaque bg-dark p-3 d-flex flex-center">
            <div class="container">
                <div>
                    <h2 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'>
                        How we make things happen</h2>
                    <p class="lead text-white text-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed
                        diam nonumy
                        eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt
                        ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et
                        ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                    <a class="btn btn-light btn-sm mt-1" href="#tutorials">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
&lt;!&ndash; <section> close ============================&ndash;&gt;
&lt;!&ndash; ============================================&ndash;&gt;
<br><br><br>


<div class="container">

    &lt;!&ndash;<div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="col">
        <div class="overflow-hidden">
          <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Powerful Fabrication Methods</h2>
        </div>
        <div class="overflow-hidden">
          <p class="text-uppercase fs&#45;&#45;1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>rapidly translate innovation</p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
        </div>
      </div>
    </div>&ndash;&gt;
    <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="col">
            <div class="overflow-hidden" align="left">
                <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'>Past Projects</h2>
            </div>
        </div>
    </div>


    <div class="row align-items-center">

        &lt;!&ndash; <div class="col-md-4 text-md-right">
           <h5 class="ls-1 mb-3">from the past</h5>
           <p class="mb-0">Historically, innovation has not been translatable to <br class="d-none d-xl-block" />
                           the problems and needs for creation of custom <br class="d-none d-xl-block" />
                           devices to support repository development<br class="d-none d-xl-block" />
                           in aquatic species. This lack of devices<br class="d-none d-sm-block" />
                           and equipment specifically designed <br class="d-none d-sm-block" />
             for use with fish and shellfish has<br class="d-none d-sm-block" />
              forced researchers and other  <br class="d-none d-sm-block" />
             user groups to modify and  <br class="d-none d-sm-block" />
              adapt devices that were   <br class="d-none d-sm-block" />
              developed  for livestock <br class="d-none d-sm-block" />
             and humans. </p>
         </div>
         <div class="col-md-4 px-lg-4 my-4 my-md-0"><img class="rounded w-100 w-sm-75 w-md-100" src="../assets/img/technology/AdobeStock_90161302.jpeg" alt="" /></div>&ndash;&gt;

        <div class="col-8" align="left">
            &lt;!&ndash;<h5 class="ls-1 mb-3">to the future </h5>&ndash;&gt;
            &lt;!&ndash; <p class="mb-0">
                 Historically, innovation has not been translatable to the problems and needs for creation of custom
                 devices to support repository development
                 in aquatic species. This lack of devices and equipment specifically designed for use with fish and
                 shellfish has forced researchers and other
                 user groups to modify and adapt devices that were developed for livestock and humans. This
                 decades-long impediment has been removed by recent
                 technological advances that provide powerful new fabrication methods, such as soft lithography
                 (microfabrication) and additive manufacturing
                 (3-dimensional printing). We utilize these as core capabilities to rapidly translate innovation, in
                 the form of custom design ideas, into reality
                 through our technology development process.
                 <br><br>
                 Our technology development pathway at the AGGRC is designed to move from ideas to products by
                 incorporating: 1) three levels of prototyping
                 with a wide variety of operational evaluation (alpha testing); 2) performance evaluation by user
                 groups and user communities (beta testing),
                 and 3) production of provisional products that can be made commercially available. Our approach is
                 based on strong interdisciplinary
                 collaboration, capitalizing on long-standing relationships among cooperators spanning multiple
                 disciplines across biology and engineering.
                 <br><br>
                 This process is extremely flexible and can accommodate a wide range of devices and applications that
                 can be integrated with sensing and
                 monitoring electronics, printed circuitry, microprocessors and microcontrollers, databasing, and
                 wireless connectivity to further enhance
                 capabilities. All of this can be custom designed for use with aquatic species, and at the same time
                 be used with traditional species and to
                 address existing markets including mammals. In fact, given these powerful capabilities for design
                 and fabrication, these devices may be more
                 functional, inexpensive, and cross-platform compatible than their current commercially available
                 counterparts.
             </p>&ndash;&gt;
        </div>

        &lt;!&ndash;<div class="col-6">
          <img class="img-fluid" src="../assets/img/illustration/TechProcess_AGGRC-01.png">
        </div>&ndash;&gt;

    </div>

    <br><br><br>

    <div class="sortable" data-options='{"layoutMode":"packery"}'>
        <div class="row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
             data-zanim-timeline="{}" data-zanim-trigger="scroll">


            <div class="col-6 col-md-8 sortable-item p-2 commercial small"
                 data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden "
                     data-griddercontent="#content1"
                     data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                    <a class="d-block" href="microfabrication.html">
                        <img class="rounded img-fluid w-100" src="../assets/img/technology/microfabrication1.jpg"
                             alt=""/>
                        <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                <div class="text-700">
                                    <h3 class="text-white lh-1 fs-2">Microfabrication</h3>
                                    <p class="lead">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-4 sortable-item p-2 technology small"
                 data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden "
                     data-griddercontent="#content1"
                     data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                    <a class="d-block" href="3d-printing.html">
                        <img class="rounded img-fluid w-100" src="../assets/img/technology/3dprinting1.jpg" alt=""/>
                        <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                <div class="text-700">
                                    <h3 class="text-white lh-1 fs-2">3D Printing</h3>
                                    <p class="lead">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-8 sortable-item p-2 research medium"
                 data-zanim-xs='{"animation":"zoom-in","delay":0.1}'>
                <div class="hoverdir-item position-relative rounded overflow-hidden"
                     data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                    <a class="d-block" href="electrocryobiology.html">
                        <img class="rounded img-fluid w-100" src="../assets/img/technology/electrocryobiology1.jpg"
                             alt=""
                             data-zanim-xs='{"animation":"zoom-in","delay":0.1}'/>
                        <div class="hoverdir-item-content">
                            <div class="h-100 d-flex flex-center p-3 hoverdir-text">
                                <div class="text-700">
                                    <h3 class="text-white lh-1 fs-2">Electrocryobiology</h3>
                                    <p class="lead">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>

</div>-->


<br><br><br>

{{>footer}}
