{{> navCreate}}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center pb-0" style="">

        <div class="container-fluid">


            <div class="overflow-hidden align-content-center" align="center">
                <div class="col-md-8" align="center">
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":"1.5","delay":0}'>Upload Your Parks
                    </h3>
                </div>
            </div>
            <br>
            <div class="overflow-hidden">
                <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}'/>
            </div>
        </div>
        <!-- end of .container-->


        <div class="container" align="left">
            <form>
                <div class="form-group">
                    <label for="title">Park Name</label>
                    <input class="form-control" id="parkName" type="text" placeholder="Park Name" maxlength="100">
                </div>
                <br>
                <div class="form-group">
                    <label for="caption_1">Park Address</label>
                    <input class="form-control" id="parkAddress" type="text"
                           placeholder="12345 Street, City, State 12345" maxlength="100">
                </div>
                <br>
                <div class="form-group">
                    <label for="caption_2">Park Bio</label>
                    <input class="form-control" id="parkBio" type="text" placeholder="Park Bio" maxlength="1000">
                </div>
                <br>
                <label class="" for="">Features</label>

                <div class="form-group form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" id="pavilions" type="checkbox">
                            <label class="form-check-label" for="pavilions">Pavilions</label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" id="tennis" type="checkbox">
                            <label class="form-check-label" for="tennis">Tennis Courts</label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" id="baseball" type="checkbox">
                            <label class="form-check-label" for="baseball">Baseball Fields</label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" id="soccer" type="checkbox">
                            <label class="form-check-label" for="soccer">Soccer Fields</label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" id="basketball" type="checkbox">
                            <label class="form-check-label" for="basketball">Basketball Courts</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="parkImage">Park Picture</label>
                    <input class="form-control-file" id="parkImage" type="file">
                </div>
                <br>


            </form>
            <button class="btn btn-primary mb-3 savePark" type="submit">Save</button>
        </div>


    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


{{>footer}}
