/* This is where we change the style. Will overwrite all other style. */
.application-row {
  cursor: pointer;
}
.application-row .application-actions {
  float: left;
  width: 100%;
}
.application-row .application-actions .btn-group-vertical {
  display: none;
}
.application-row .application-actions .btn-group-vertical button {
  margin: 1px;
}
.application-row .application-actions .btn-group-vertical a {
  margin: 1px;
}
.application-row-active .btn-group-vertical {
  display: block !important;
  color: white;
}
.display-none {
  display: none !important;
}
.vertical-align-middle {
  vertical-align: middle;
}
.tab-modal {
  border: none;
}
.navbar {
  opacity: 0.95;
}
