/* This is where we change the style. Will overwrite all other style. */
.application-row {
  cursor: pointer;
}
.application-row .application-actions {
  float: left;
  width: 100%;
}
.application-row .application-actions .btn-group-vertical {
  display: none;
}
.application-row .application-actions .btn-group-vertical button {
  margin: 1px;
}
.application-row .application-actions .btn-group-vertical a {
  margin: 1px;
}
.application-row-active .btn-group-vertical {
  display: block !important;
  color: white;
}
.display-none {
  display: none !important;
}
.vertical-align-middle {
  vertical-align: middle;
}
.tab-modal {
  border: none;
}
.navbar {
  opacity: 0.95;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 1 0 40em;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  background-color: #f5f5f5;
  padding-bottom: 0;
  padding-top: 0;
}
@media screen and (min-width: 40em) {
  .card {
    max-width: calc(50% - 1em);
  }
}
@media screen and (min-width: 60em) {
  .card {
    max-width: calc(25% - 1em);
  }
}
.centered {
  margin: 0 auto;
  padding: 0 1em;
}
@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}
