
<!-- ============================================-->
<!-- <Footer section> begin ============================-->
<section class="text-center bg-black py-3">

    <div class="container">
        <div class="row justify-content-between">


            <div class="col-6 col-md-5 col-sm-1 mb-1 mb-md-0">

                <div class="row">
                    <div class="col-6">
                        <div class="col-8" align="left">
                            <img class="img-fluid rounded" src="../assets/img/logo/White3DPrintingFish.gif" alt=""/>
                        </div>
                        <p class="mb-0" align="left">2288 Gourrier Ave.<br>Baton Rouge, Louisiana
                            70820<br>225-578-6257<br>ttiersch@agcenter.lsu.edu</p>
                        <br>
                        <div class="row" align="left">
                            <div class="col-3">
                                <span class="fab fa-facebook-square"></span>
                            </div>
                            <div class="col-3">
                                <span class="fab fa-instagram"></span>
                            </div>
                            <div class="col-3">
                                <span class="fab fa-twitter-square"></span>
                            </div>
                        </div>


                    </div>
                    <div class="col-6">
                        <div class="col-6" align="left">
                            <br>
                            <img class="img-fluid rounded" src="../assets/img/logo/agcenterLogo.png" alt=""/>
                        </div>
                        <p class="mb-0" align="left"><br>101 Efferson Hall<br>Baton Rouge, LA 70803<br>225-578-4161<br>225-578-4143<br>web@agcenter.lsu.edu
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-7">
                <div class="">
                    <h2 class="mb-0" style="color: #5f656c; font-weight: bold" align="left"><br>Our Partners</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <br>
                        <p class="mb-0" align="left"><a
                                href="https://nrrc.ars.usda.gov/A-GRIN/database_collaboration_page_dev" target="_blank">National
                            Animal Germplasm Program</a></p><br>
                        <p class="mb-0" align="left"><a href="https://www.zebrafish.org/" target="_blank">Zebrafish
                            International Resource Center</a></p><br>
                        <p class="mb-0" align="left"><a href="https://www.xiphophorus.txstate.edu/" target="_blank">Xiphophorous
                            Genetic Stock Center</a></p><br>
                        <p class="mb-0" align="left"><a href="http://www.fao.org/fishery/en" target="_blank">FAO
                            Fisheries and Aquaculture</a></p><br>
                    </div>
                    <div class="col-6">
                        <br>
                        <p class="mb-0 " align="left"><a id="footer-link" href="http://www.oie.int/" target="_blank">World
                            Organization for Animal Health</a></p><br>
                        <p class="mb-0" align="left"><a href="https://www.naab-css.org/" target="_blank">National
                            Association of Animal Breeders</a></p><br>
                        <p class="mb-0" align="left"><a href="http://www.who.int/en/" target="_blank">World Health
                            Organization</a></p><br>
                        <p class="mb-0" align="left"><a href="https://www.thingiverse.com/"
                                                        target="_blank">Thingiverse</a></p>
                    </div>
                </div>
            </div>


            <br><br>

            <div class="col-6 col-md-6 mb-1 mb-md-0" align="left">
                <p class="mb-0">AGGRC &copy; 2020<span class="mx-2">|</span><span
                        class="text-900 hover-color-white">
                <!--v4.0.1-->v1.0.0</span></p>
            </div>


        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<a class="btn-back-to-top" href="#top" data-fancyscroll><img src="../assets/img/line-icons/upload-arrow.svg" width="8"
                                                             alt=""></a>


<!-- javascript -->
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->

<script src="reign_js/theme.js"></script>
