<!-- ============================================-->
<!-- <Footer section> begin ============================-->
<section class="text-center bg-black py-3 dispark-nav">

    <div class="container dispark-nav">
        <div class="row justify-content-between">


            <div class="col-6">
                <div class="">
                    <h2 class="mb-0" style="color: #5f656c; font-weight: bold" align="center">Team Members</h2>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0" align="left">Dean Compton<br></p>
                        <div class="" align="left">
                            <div class="row col-12">
                                <div class="col-2">
                                    <span class="far fa-envelope"></span>
                                </div>
                                <p>dcompt4@lsu.edu</p>
                            </div>
                        </div>

                        <p class="mb-0" align="left">Vaughn Ohlerking<br></p>
                        <div class="" align="left">
                            <div class="row col-12">
                                <div class="col-2">
                                    <span class="far fa-envelope"></span>
                                </div>
                                <p>vohler1@lsu.edu</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-6">
                        <p class="mb-0" align="left">Kendall Comeaux<br></p>
                        <div class="" align="left">
                            <div class="row col-12">
                                <div class="col-2">
                                    <span class="far fa-envelope"></span>
                                </div>
                                <p>kcome26@lsu.edu</p>
                            </div>
                        </div>

                        <p class="mb-0" align="left">Braylon Frederic<br></p>
                        <div class="" align="left">
                            <div class="row col-12">
                                <div class="col-2">
                                    <span class="far fa-envelope"></span>
                                </div>
                                <p>bfrede8@lsu.edu</p>
                            </div>
                        </div>


                    </div>


                </div>

            </div>


            <div class="col-6">
                <div class="">
                    <h2 class="mb-0" style="color: #5f656c; font-weight: bold" align="center">About the Team</h2>
                </div>
                <br>
                <div class="">
                    <p class="lead" align="left">
                        The Dispark developer team created Dispark as a way for people to easily and simply schedule
                        rentals without bothering park workers. The software aims to relieve park owners and park users
                        of the mundane task of scheduling rentals. The team that brought this to you is a group of four
                        junior-year Computer Science students working together on this software for our 3380 class.

                    </p>
                </div>
            </div>


            <br><br>

            <div class="col-6 col-md-6 mb-1 mb-md-0" align="left">
                <p class="mb-0">Dispark &copy; 2020<span class="mx-2">|</span><span
                        class="text-900 hover-color-white">
                <!--v4.0.1-->v1.0.0</span></p>
            </div>


        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<a class="btn-back-to-top" href="#top" data-fancyscroll><img src="../assets/img/line-icons/upload-arrow.svg" width="8"
                                                             alt=""></a>


<!-- javascript -->
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->

<script src="reign_js/theme.js"></script>
