<nav class="navbar navbar-expand-lg navbar-dark navbar-theme fixed-top p-0">
    <div class="container-fluid px-3">

        <a class="navbar-brand font-weight-normal ls-1" href="#">
            <img src="../assets/img/logo/aggrc-fish-logo.gif" alt="logo" style="width: 100px">
        </a>
        <a class="navbar-brand font-weight-normal ls-1 d-none d-lg-block" href="#">
            <span style="font-size: xx-large;">AGGRC </span>
            <br>
            <span style="font-size: small;">Aquatic Germplasm & Genetic Resources Center</span>
        </a>
        <!--<span class="nav-link " style="font-size: small">Aquatic Germplasm &amp; Genetic Resources Center</span></a>-->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#aggrcCreate">Home Create</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#addPublications">Publications Create</a>
                </li>
               <!-- <li class="nav-item dropdown dropdown-on-hover">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="nav-link-text" href="#technology">Technology</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="#technology">Overview</a>
                        <a class="dropdown-item" href="../pages/alpha-testing.html">Alpha-testing</a>
                        <a class="dropdown-item" href="../pages/beta-testing.html">Beta-testing</a>
                        <a class="dropdown-item" href="../pages/tutorials.html">Tutorials</a>
                        <a class="dropdown-item" href="../pages/3d-printing.html">3D Printing</a>
                        <a class="dropdown-item" href="../pages/microfabrication.html">Microfabrication</a>
                        <a class="dropdown-item" href="../pages/electrocryobiology.html">Electrocryobiology</a>
                    </div>
                </li>-->

            </ul>
        </div>

    </div>
</nav>
